.login-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.login {
  @include flexbox-display();
  @include align-items(center);
  @include justify-content(stretch);
  @include flex-direction(row);
  min-height: 100vh;
  margin-top: -$topbar-height-sm; /* body padding */
  @media (min-width: $viewport-md-min) {
    margin-top: -($topbar-height-base * 2); /* body padding */
  }
}
.login_inner {
  @include flex(1);
  @include align-self(center);
}
