.app-list {
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  @include clearfix();
}
.app-list_item {
  float: left;
  width: 33.33333%;
  height: 90px;
  text-align: center;
  border-bottom: $border-lt;
  border-right: $border-lt;
  &:nth-child(3n) {
    border-left-width: 0;
    border-right-width: 0;
  }
}
.app-list_link {
  display: block;
  font-size: $font-size-base - 1;
  color: $dropdown-item-color;
  height: 100%;
  padding-top: $padding-unit;
  &:hover,
  &:active,
  &:focus {
    color: $dropdown-item-hover-color;
    background-color: $dropdown-item-hover-background;
    .icon-container {
      background-color: $color-primary;
      color: #fff;
    }
  }
}
.app-list_icon {
  display: block;
  margin: 0 auto 2px;
  @include square(36px);
}
