.help-launcher {
  display: none;
  position: fixed;
  z-index: $z-index-help;
  right: $spacing-unit;
  bottom: $spacing-unit;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
  background-image: none;
  background-color: $help-launcher-background;
  opacity: $help-launcher-opacity-default;
  text-align: center;
  @include touch-action(manipulation);
  cursor: pointer;
  border: 1px solid transparent;
  padding: $btn-padding-vertical floor($btn-padding-horizontal / 4);
  line-height: $btn-line-height-base;
  border-radius: 50%;
  min-width: $btn-height-base;
  @include user-select(none);
  &:hover {
    opacity: $help-launcher-opacity-hover;
  }
  @media (min-width: $viewport-md-min) {
    display: inline-block;
  }
  &::before {
    content: '?';
  }
}
