// Color

$color-blue:                #42b4e4;
$color-blue-dark:           #01528a;
$color-green:               #007548;
$color-red:                 #b3282e;
$color-yellow:              #faa21b;
$color-purple:              #a53995;
$color-teal:                #00bbd3;

$color-primary:             $color-blue;
$color-success:             $color-green;
$color-danger:              $color-red;
$color-warning:             $color-yellow;

$color-gray-lighter:        #f2f2f2;
$color-gray-light:          #e6e6e6;
$color-gray-medium:         #ccc;
$color-gray-base:           #606060;
$color-gray-dark:           #25313E;

$color-neutral:             $color-gray-medium;

$background-color:          $color-gray-lighter;

$text-color-light:          #848484;
$text-color-base:           $color-gray-base;
$text-color-muted:          #999;
$link-color-base:           $color-primary;


// Tabs
$tab-selected-color:        $color-yellow;


@import "../core";
