<div class="pagination" role="menubar" aria-label="Pagination">
  {{#each item}}
    <button type="button" class="pagination_item{{#if isActive}} is-active{{/if}}" {{#if disabled}} disabled{{/if}}>
      {{#if icon}}
        {{render '@icon' icon merge=true}}
      {{else}}  
        {{number}}
      {{/if}}
    </button>
  {{/each}}
</div>
<!--TODO: Consider standardizing the arrows -->