<div class="pagination" role="menubar" aria-label="Pagination">
  {{#each item}}
    <button type="button" class="pagination_item{{#if state.isActive}} is-active{{/if}}" {{#if state.disabled}} disabled{{/if}}>
      {{#if element.icon}}
        {{render '@icon' element.icon merge=true}}
      {{else}}  
        {{property.number}}
      {{/if}}
    </button>
  {{/each}}
</div>
<!--TODO: Consider standardizing the arrows -->