<div class="tabs">
  {{#each item}}
    <a href="{{property.url}}" class="tab_item{{#if state.isActive}} is-active{{/if}}">{{property.text}}</a>
  {{/each}}
</div>
<!--TODO: Link color is incorrect -->