.build-mode {
  background-color: $build-mode-background;
  overflow: hidden;
  @include flexbox-display();
  @include flex-direction(column);
  height: 100vh;
}
.build-mode--no-toolbar {
  padding-top: $topbar-height-base;
}

.build-mode_navigation {
  display: block;
  position: relative;
  @include flex-shrink(0);
  .container {
    max-width: none;
  }
  .navigation_item:first-child {
    margin-left: -($grid-gutter-width / 2);
  }
}

.build-mode_actions {
  @media (max-width: $viewport-sm-max) {
    position: static;
    @include translateX(0);
    float: right;
  }
  .navigation_item_link {
    text-transform: uppercase;
    font-weight: 600;
  }
}
.build-mode_actions .dropdown {
  display: inline-block;
  vertical-align: middle;
}
.build-mode_actions .dropdown_menu {
  width: 270px;
  left: -webkit-calc(50% - 135px);
  left: calc(50% - 135px);
}
.build-mode_actions .dropdown_menu_item .icon {
  margin-top: 2px;
  margin-bottom: 16px;
}

.build-mode_title {
  font-size: $build-mode-title-font-size;
}
.build-mode_title--multiline {
  line-height: 1;
  padding-top: 14px;
  .sub-title {
    color: rgba($topbar-color, .6);
  }
}

.build-mode_viewport {
  @include flexbox-display();
  @include flex-direction(row);
  @include flex(1);
  min-height: 0; // Firefox flex bug
}

.build-mode_panel {
  background-color: $build-mode-panel-background;
  max-width: $build-mode-panel-width;
  min-width: $build-mode-panel-width-min;
  box-shadow: $build-mode-panel-shadow;
}

.build-mode_panel,
.build-mode_canvas {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 0; // Firefox flex bug
}

.build-mode_canvas {
  @include flex-grow(1);
}

@media (min-width: $viewport-md-min) {
  .build-mode_panel {
    @include flex(1 0 0);
  }
  .build-mode_canvas {
    @include flex(3 0 0);
  }
}
