html,
.app-body {
  background-color: #f8f8f8;
}

.app-body {
  padding: 0;
  margin: 0;
  .no-navbar {
    margin-top: 0;
  }
  .viewport {
    margin-top: unquote('min(88px, calc(#{$topbar-height-sm} + env(safe-area-inset-top)))');
  }
}

// Primary navigation (left-most)
.app-global-nav {
  width: 96px;
  padding: 24px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  display: none;
}
.app-global-nav_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.app-global-nav_group > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 14px 6px;
  border-radius: 7px;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 8px;
  color: $text-color-base;
  &:focus {
    outline: 0;
  }
  &:not(.is-active):focus {
    background-color: rgba(#000, .05);
  }
}
.app-global-nav_group > a svg {
  fill: currentColor;
  width: 26px;
  height: 26px;
  margin-bottom: 2px;
}
.app-global-nav_group .is-active,
.app-nav .is-active {
  color: $color-primary;
  background-color: rgba($color-primary, .1);
  font-weight: 500;
}
.app-global-icon {
  display: block;
  width: 44px;
  height: 44px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.18);
  border-radius: 10px;
  margin-bottom: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  a {
    display: block;
    &:focus {
      outline: 0;
    }
  }
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 10px;
  }
  .drawer & {
    margin-bottom: 0;
  }
}
.btn.app-global-icon_btn {
  position: absolute;
  bottom: -8px;
  right: -8px;
  padding: 2px;
  line-height: 1;
  min-width: 0;
  border-color: rgba(0,0,0,0.1);
  background-clip: padding-box;
  .icon {
    width: 16px;
    height: 16px;
  }
}

// App navigation
.app-nav {
  width: 236px;
  padding: 0 12px 24px;
  border-left: $border-base;
  overflow-y: auto;
  display: none;
}
.app-nav--no-padding {
  padding: 0;
  .app-nav_header,
  .app-nav_footer {
    padding-left: 18px;
    padding-right: 18px;
  }
  .app-nav_content {
    .list_item {
      padding-left: 18px;
    }
  }
}

.app-nav_header,
.app-nav_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0 24px 6px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $topbar-background;
  background-clip: padding-box;
  @supports(backdrop-filter: blur(0px)) or (-webkit-backdrop-filter: blur(0px)) {
    background-color: $topbar-background-translucent;
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    backdrop-filter: blur(20px) saturate(150%);
  }
  z-index: 2;
}
.app-nav_header--bordered {
  border-bottom: $border-lt;
}
.app-nav_footer {
  top: auto;
  bottom: 0;
  padding: 16px 0 16px 6px;
}
.app-nav_footer--bordered {
  border-top: $border-lt;
}
.app-nav_title {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: $heading-color;
}
.app-nav-list .list_item,
.app-nav-list .list_heading {
  padding-left: 6px;
}
.app-nav-list .list_item {
  border-radius: 4px;
  margin-bottom: 2px;
  &:focus {
    outline: 0;
  }
  &:not(.is-active):focus {
    background-color: rgba(#000, .05);
  }
}
.app-nav_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// App content
.app-content {
  position: relative;
  z-index: 2;
}



@media (min-width: $viewport-md-min) {
  html,
  .app-body,
  .app-wrapper {
    height: 100%;
    overflow: hidden;
  }
  .app-body {
    display: flex;
    .viewport {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .app-global-nav {
    display: flex;
  }
  .app-nav {
    display: block;
  }
  .app-wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .app-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    box-shadow: -10px 0 10px rgba(0,0,0,0.05);
  }
  .app-content--scrollable {
    overflow-y: auto;
  }
  .heading-spacer {
    padding-top: 32px;
  }
}

@media (min-width: $viewport-xl-min) {
  .app-nav {
    width: 266px;
  }
  .app-nav--wide {
    width: 420px;
  }
}
