// Page header
.page-header {
  position: fixed;
  z-index: $z-index-topbar;
  top: 0;
  left: 0;
  width: 100%;
  height: $topbar-height-sm;
  padding-top: 9px;
  background-color: $topbar-background;
  @supports(backdrop-filter: blur(0px)) or (-webkit-backdrop-filter: blur(0px)) {
    background-color: $topbar-background-translucent;
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    backdrop-filter: blur(20px) saturate(150%);
  }
  text-align: center;
  .container {
    position: relative;
  }
  .btn {
    float: right;
  }
  .btn:first-child {
    float: left;
  }
  &.is-hidden {
    display: none;
  }
  // @supports(padding: unquote('max(0px)')) {
  //   & {
  //     padding-top: env(safe-area-inset-top);
  //     height: calc(#{$topbar-height-sm} + env(safe-area-inset-top));
  //   }
  // }
}
.page-header_title {
  font-size: 16px;
  font-weight: $font-weight-semibold;
  color: $brand-color;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
  width: calc(100% - 120px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.6;
}

.page-header_back {
  margin-right: $unit-sm;
}

// use max-width so we don't have to reset button styles again
@media (max-width: $viewport-sm-max) {
  .page-header {
    padding-top: unquote('max(9px, env(safe-area-inset-top))');
    height: unquote('min(88px, calc(#{$topbar-height-sm} + env(safe-area-inset-top)))');
    .container {
      padding-left: unquote('max(4px, env(safe-area-inset-left))');
      padding-right: unquote('max(4px, env(safe-area-inset-right))');
      position: relative;
      z-index: 2;
    }
    .btn {
      @include button-color(transparent, transparent, $topbar-link-color);
      background: transparent;
      font-weight: $font-weight-medium;
      border-radius: 50%;
      min-width: 35px;
      padding-left: 8px;
      padding-right: 8px;
      &:hover,
      &:active,
      &:focus {
        background: transparent;
        border-color: transparent;
        color: $topbar-link-color-focus;
      }
      .icon {
        display: inline-block !important;
      }
    }
    .search {
      display: none;
    }
  }
}

@media (min-width: $viewport-md-min) {
  .page-header {
    position: relative;
    height: auto;
    padding-top: $unit-base;
    padding-bottom: 18px;
    margin-bottom: 6px;
    text-align: left;
    z-index: $z-index-topbar - 1;
    .search {
      margin-bottom: 0;
    }
    &.page-header--sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }
  .page-header .btn:first-child {
    margin-right: $unit-sm;
  }
  .page-header_title {
    position: static;
    left: auto;
    width: auto;
    min-height: 0;
    @include translate(0, 0);
    color: $text-color-dark;
    font-size: $h1-size;
    line-height: $line-height-base;
  }
}
