.page-header {
  background-color: #fff;
  border-bottom: $border-base;
  padding-top: $padding-unit;
  margin-bottom: $padding-unit;
  @include clearfix();
}
// specify a height for our proper scrolling tabs
.page-header--with-tabs {
  padding-top: 0;
  height: 55px; // magic number, height of tabs
  overflow: hidden;
}
// intended to be used with tabs or 2 tier design
.page-header--sticky {
  @include sticky;
  top: -20px;
}

.page-title {
  margin: 0;
  font-size: $page-header-font-size;
  font-weight: $page-header-weight;
  margin-bottom: $spacing-unit / 2;
  float: left;
}
.page-title--before-tabs {
  margin-bottom: floor($spacing-unit / 4);
  float: none;
}

// Header Search
.header-search {
  position: relative;
  float: left;
  display: none;
  label {
    display: block;
  }
}
.page-title + .header-search,
.paper_title + .header-search,
.page-title + .header-content,
.paper_title + .header-content {
  margin-left: $padding-unit;
  border-left: 1px solid $color-gray-lighter;
  padding-left: $padding-unit;
}
.header-search_control {
  height: $btn-height-base;
  width: 150px; // magic number
  border: 0;
  color: $text-color-muted;
  &:focus {
    color: $text-color-base;
    outline: 0;
  }
  &::-ms-clear {
    display: none;
  }
}
.header-search_icon {
  fill: $text-color-muted;
}


// Header Content
.header-content {
  position: relative;
  float: left;
  padding-top: 6px;
  padding-bottom: 3px;
  color: $text-color-muted;
  font-size: $font-size-base + 1;
}


@media (min-width: $viewport-sm-min) {
  .header-search {
    display: block;
  }
}

@media (min-width: $viewport-md-min) {
  .page-header {
    padding-top: $unit-base;
    margin-bottom: $unit-base;
    height: auto;
  }
  .page-title {
    margin-bottom: $unit-base;
  }
  .page-title--before-tabs {
    margin-bottom: $unit-sm;
    margin-top: $unit-sm / 2;
  }
  .header-search_control {
    width: 220px;
  }
}

@media (min-width: $viewport-md-min) and (max-width: $viewport-lg-max) {
  .page-title {
    margin-left: $padding-unit / 2;
  }
}

@media (min-width: $viewport-lg-min) {
  .page-header--sticky {
    top: -10px;
  }
  .page-title {
    font-size: $page-header-font-size + 2;
  }
  .page-title + .header-search,
  .paper_title + .header-search,
  .page-title + .header-content,
  .paper_title + .header-content {
    margin-left: $spacing-unit;
    border-left: $border-lt;
    padding-left: $spacing-unit;
  }
}
