.paper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1190px;
  margin-bottom: $spacing-unit * 1.5;
  padding-bottom: $spacing-unit;
  background-color: $card-bg;
  box-shadow: $card-shadow;
}

.paper_header,
.paper_footer {
  padding-top: $padding-unit;
  padding-bottom: $padding-unit;
  @include clearfix;
}
.paper_header--border {
  border-bottom: $border-lt;
}
.paper_header--sticky {
  background-color: #fff;
  border-radius: $border-radius-base $border-radius-base 0 0;
  @include sticky;
  top: $topbar-height-sm;
  z-index: $z-index-sticky;
  .standalone & {
    top: $topbar-height-standalone;
  }
}
.paper_footer--border {
  border-top: $border-lt;
}

.paper_title {
  margin: 0;
  font-size: 18px;
  font-weight: $page-header-weight;
  line-height: $btn-height-base;
  float: left;
}
.paper_title--sm {
  font-size: $font-size-lg;
  line-height: $btn-height-sm;
}
.paper_title--overflow {
  float: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paper_title_breadcrumb {
  margin-left: 4px;
  margin-right: 4px;
}

@media (min-width: $viewport-md-min) {
  .paper_header {
    padding-top: $unit-base;
    padding-bottom: $unit-base;
  }
  .paper_header--sticky {
    top: $topbar-height-base;
  }
}


@media (min-width: $viewport-md-min) {
  .paper {
    margin-left: $unit-base;
    margin-right: $unit-base;
    border-radius: $border-radius-base;
  }
  .paper_title {
    font-size: 20px;
  }
}
@media (min-width: 1220px) {
  .paper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1172px;
  }
}
