.sidebar--sticky {
  @include sticky();
  top: 90px;
}

.sidebar {
  .list {
    margin-right: -$padding-unit;
  }
  .list_item {
    padding-left: 0;
  }
}

@media (min-width: $viewport-md-min) {
  .sidebar {
    max-width: 260px;
    .list {
      margin-left: 0;
      margin-right: -1px;
      margin-left: -$unit-base - 1;
    }
    .list_item:not(.list_item--inset) {
      padding-left: $unit-base;
    }
  }
  .sidebar--left {
    border-right: $border-lt;
  }
}

@media (min-width: $viewport-lg-min) {
  .sidebar--left {
    margin-right: $unit-base;
  }
}
