// Invisble button that, when focused, provides a shortcut to skipping to main content
.accessibility-aid {
  &:focus,
  &:active {
    position: absolute !important;
    line-height: 48px;
    padding: 0 6px;
    font-weight: 600;
    background-color: rgba(#fff, 0.6);
  }
}

// Navigation
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $topbar-background;
  z-index: $z-index-topbar;
  .container {
    position: relative; // postion the left-most dropdowns
  }
}

.navigation--topbar {
  color: $topbar-color;
  height: $topbar-height-base;
  padding: (($topbar-height-base - 36px) / 2) $padding-unit;
  @include backface-visibility(hidden);
  @include clearfix();
  .standalone & {
    height: $topbar-height-standalone;
    padding-top: 28px;
  }
  .btn {
    float: left;
    margin-left: -6px;
    margin-right: 12px;
  }
  .icon {
    fill: $topbar-color;
  }
}

// Dropdowns can overlap with the navbar when in the drawer
.navigation--drawer {
  .dropdown_menu {
    width: $dropdown-width-max;
    margin-top: -5px;
  }
  .dropdown_toggle--indicator {
    &:before,
    &:after {
      bottom: 4px;
    }
  }
}

.navigation_manage,
.navigation_apps {
  opacity: 0;
  max-height: 0; // hides contents and is transition-able
  overflow: hidden;
  @include transition(opacity .36s $timing-function .24s, max-height .24s $timing-function);
  &.is-open {
    opacity: 1;
    max-height: 10000px; // magic number. can't transition to or from 'auto'
    @include transition(opacity .36s $timing-function, max-height .24s $timing-function .36s);
  }
}

.navigation_title {
  font-size: $font-size-base + 1;
  font-weight: 600;
  color: #fff;
  padding-top: 8px;
}

.navigation_item {
  display: block;
  float: left;
  line-height: 24px; // base icon size
  height: $topbar-height-base;
  &.u-float-right {
    position: static; // reset .dropdown
    .dropdown_toggle {
      position: relative;
    }
    .dropdown_menu {
      right: 0;
    }
  }
  &:active,
  &:focus {
    outline: 0;
  }
}
.navigation_link {
  display: block;
  padding: 22px;
  height: $topbar-height-base;
  color: rgba(#fff, 0.6);
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    color: #fff;
  }
}

.navigation_link--logo {
  margin-left: -12px;
  padding-top: 19px;
  padding-left: 10px;
}

.navigation_link--primary {
  font-size: $font-size-lg;
  font-weight: 600;
  line-height: 1.75;
  color: $color-gray-light;
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit;
}

.navigation_user {
  @include clearfix();
  padding: ($padding-unit + 4) $padding-unit;
  @include hairline(single, rgba($color-gray-base, 0.24), 0);
  .standalone & {
    padding-top: $padding-unit + 20px;
  }
}
.navigation_user_toggle {
  @include backface-visibility(hidden);
  @include transition-transform(.5s ease);
  &.is-inverted {
    @include rotate(-540deg)
  }
}

.user_details_name,
.user_details_username {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
}
.user_details_name {
  margin-top: 8px;
  font-size: $font-size-lg;
}
.user_details_username {
  color: $text-color-muted;
  font-size: $font-size-base - 1;
}


.app-list {
  padding: 0;
  width: $dropdown-width-max;
}
.app-list_item {
  display: block;
}
.app-list_link {
  display: block;
  padding: 10px $padding-unit;
  color: $text-color-base;
  font-size: $font-size-base;
  &:active,
  &:focus {
    outline: 0;
  }
}
.app-list_icon {
  @include square(24px);
  margin-right: $padding-unit;
}


@media (max-width: $viewport-sm-max) {
  .navigation_link--logo,
  .navigation_item--user,
  .navigation_item--notifications,
  .navigation_item.u-float-right .navigation_link {
    display: none;
  }
  .navigation--topbar {
    padding: (($topbar-height-sm - 36px) / 2) $padding-unit;
    height: $topbar-height-sm;
    .standalone & {
      height: $topbar-height-standalone;
      padding-top: 28px;
    }
  }
  .navigation_link {
    height: $topbar-height-sm;
  }
  .navigation_link--primary {
    padding: $padding-unit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .navigation--drawer {
    max-width: 400px;
    height: auto;
    right: 60px;
    padding-bottom: $spacing-unit;
    bottom: 0;
    background-color: $drawer-background;
    z-index: $z-index-drawer;
    will-change: transform;
    @include shadow-depth(2, true);
    @include transform(translateX(-105%));
    @include transition-transform(.3s $timing-function);
    @include scrollable();

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .navigation_item,
    .navigation_link {
      float: none !important;
      height: auto;
    }

    .navigation_link--primary {
      color: $text-color-base;
      font-size: $font-size-base + 1;
      padding-top: 12px;
      padding-bottom: 12px;
      @include hairline(single, rgba($color-gray-base, 0.24), 0);
    }

    .app-list {
      width: auto;
    }
    .app-list_link {
      padding-top: 13px;
      padding-bottom: 13px;
      @include hairline(single, $color-gray-light, 60px);
      &:active,
      &:focus {
        background-color: rgba($color-gray-lighter, 0.36);
      }
    }
    .app-list_link--no-icon {
      background-position: 16px 100%;
    }

    .dropdown_menu {
      display: block;
      border: 0;
      box-shadow: none;
      border-radius: 0;
      margin: 0;
      position: static;
      background-color: transparent;
      width: auto;
      max-width: none;
    }
  }
  .navigation--drawer.is-open {
    @include transform(translateX(0));
  }
  .navigation_backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($backdrop-background, 0.4);
    z-index: $z-index-drawer - 1;
    @include animation(fade-in .3s $timing-function);
  }
}

@media (min-width: $viewport-md-min) {
  .navigation--topbar,
  .navigation_user {
    display: none;
  }

  .navigation--drawer {
    .standalone & {
      padding-top: 6px;
    }
  }

  .navigation_apps {
    display: block !important; // if this was hidden in the mobile view
  }
  .navigation_manage {
    display: none !important; // should never be visible except on mobile
  }

  .navigation_item--user {
    margin-right: -20px;
  }

  .app-list {
    min-height: 300px;
  }
  .app-list_item {
    float: left;
    width: 33.33333%;
    height: 100px;
    text-align: center;
    border-bottom: $border-base;
    &:nth-child(3n+2) {
      border-left: $border-base;
      border-right: $border-base;
    }
  }
  .app-list_link {
    font-size: $font-size-base - 1;
    color: $text-color-muted;
    height: 100%;
    &:hover,
    &:active,
    &:focus {
      background-color: rgba($color-gray-lighter, 0.36);
    }
  }
  .app-list_icon {
    display: block;
    margin: 12px auto 2px;
    @include square(36px);
  }
}

@media (min-width: $viewport-md-min) and (max-width: $viewport-lg-max) {
  .navigation .container {
    padding-left: ($spacing-unit / 2) + ($padding-unit / 2);
    padding-right: ($spacing-unit / 2) + ($padding-unit / 2);
  }
  .navigation_item.u-float-right .dropdown_menu {
    right: $padding-unit;
  }
}
