.viewport {
  padding-top: 6px;
  padding-bottom: $toolbar-height-base + $unit-sm; // magic number
}
.invert-viewport {
  margin-top: -$padding-unit;
}

@media (min-width: $viewport-md-min) {
  .viewport {
    padding-top: $unit-base;
  }
  .invert-viewport {
    margin-top: -$unit-base;
  }
}
