.search {
  @include flexbox-display;
  position: relative;
  margin-bottom: $padding-unit;
  .is-first,
  & > :first-child,
  // specificity with input-group
  & > :first-child .search_input {
    border-top-left-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
  }
  .is-last,
  & > :last-child {
    border-top-right-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
  }
}
.search--dark {
  .search_input,
  .search_select {
    background-color: darken($background-color, 5%);
    border-color: darken($background-color, 7%);
    &:focus {
      border-color: $color-primary;
    }
  }
}
.search--light {
  .search_input,
  .search_select {
    background-color: rgba(255, 255, 255, 0.16);
    border-color: transparent;
    color: #fff;
    @include placeholder(rgba(255, 255, 255, 0.6));
    &:focus {
      box-shadow: none;
      border-color: transparent;
      color: #fff;
    }
  }
  option {
    color: $text-color-base;
  }
  .search_icon {
    .icon {
      fill: rgba(255, 255, 255, 0.6);
    }
  }
}

.search_bar {
  display: block;
  position: relative;
  width: 100%;
  .input-group & {
    flex: 3;
    .search_input {
      margin-left: 0;
      width: 100%;
    }
  }
}
.search_input {
  padding-left: 36px;
}
.search_input,
.search_select {
  background-color: $background-color;
  border-color: darken($background-color, 2%);
}
.search_icon {
  position: absolute;
  font-size: 0;
  left: 12px;
  top: 50%;
  z-index: 4;
  @include translateY(-50%);
  .icon {
    @include square(18px);
    fill: $text-color-light;
  }
}
