<form class="search{{#each modifier}} search--{{.}}{{/each}}">
  <label class="search_bar">
    <span class="search_icon">
      {{render '@icon' icon merge=true}}
    </span>
    {{render '@field' field merge=true}}
  </label>
</form>