<form class="search{{#each modifier}} search--{{.}}{{/each}}">
  <label class="search_bar">
    <span class="search_icon">
      {{render '@icon' icon merge=true}}
    </span>
    <!--TODO: Replace with input field pattern -->
    <input type="search" class="form-control search_input" placeholder="Search">
  </label>
</form>