<form class="search{{#each modifier}} search--{{.}}{{/each}}">
  <label class="search_bar">
    <span class="search_icon">
      <svg class="icon">
        <use xlink:href="#search"></use>
      </svg>
    </span>
    <input type="search" class="form-control search_input" placeholder="Search">
  </label>
</form>