// CSS variables (custom properties)
/*
    --primaryAppColor
*/

:root {
  --primaryAppColor: #{$color-primary};
  --primaryAppColorR: #{red($color-primary)};
  --primaryAppColorG: #{green($color-primary)};
  --primaryAppColorB: #{blue($color-primary)};
}
