<!--TODO: Consider a better way to typify the circular and linear versions -->
{{#if isCircular}}
  <div class="progress-circular{{#each modifier}} progress-circular--{{.}}{{/each}}"></div>
{{else}}
  <progress class="progress-linear" value="{{value}}" max="100"></progress>
  {{#if helper}}
    <span class="progress-helper">{{value}}%</span>
  {{/if}}
{{/if}}