{{#>@card}}
  {{#*inline 'mediaSlot'}}
   {{render '@icon' icon merge=true}}
  {{/inline}}
  {{#*inline 'contentSlot'}}
    <div class="heading">Lorem ipsum dolor</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolore velit libero?</p>
  {{/inline}}
{{/@card}}