// Color utilities
.u-fill-primary {
  fill: $color-primary;
}
.u-fill-success {
  fill: $color-success;
}
.u-fill-danger {
  fill: $color-danger;
}
.u-fill-warning {
  fill: $color-warning;
}
.u-fill-dark {
  fill: $text-color-dark;
}
.u-fill-base {
  fill: $text-color-base;
}
.u-fill-muted {
  fill: $text-color-muted;
}
.u-fill-light {
  fill: $text-color-light;
}
.u-fill-neutral {
  fill: $color-neutral;
}
