.accordion {
  display: block;
  position: relative;
  margin-bottom: 24px;
  background-color: $topbar-background;
  box-shadow: $card-shadow;
  @media (min-width: $viewport-md-min) {
    display: none;
  }
}

.accordion_toggle {
  @include square(24px);
  position: absolute;
  z-index: 1;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
  border: 0;
  background-image: none;
  background-color: $color-primary;
  padding: 0;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  @include transform-origin(center);
  @include transition-transform(.3 ease);
  &:hover,
  &:focus,
  &:active {
    background-color: darken($color-primary, 5%);
  }
  .is-open & {
    @include rotate(-180deg);
  }
}

.accordion_heading {
  padding: $padding-unit;
}

.accordion_body {
  position: relative;
  height: 0;
  overflow: hidden;
}
.is-open .accordion_body {
  height: auto;
  .accordion_body_inner {
    @include translateY(0);
    opacity: 1;
  }
}
.accordion_body_inner {
  will-change: transform, opacity;
  @include translateY(100px);
  opacity: 0.3;
  @include transition(all .3s $timing-function);
  padding: $padding-unit;
}
