.badge,
.chip {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.badge {
  height: 20px;
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: $badge-background-color;
  color: $badge-text-color;
  font-size: $badge-font-size;
  font-weight: normal;
  border-radius: 10px;
}

.badge--primary {
  background-color: $badge-color-primary;
}
.badge--success {
  background-color: $badge-color-success;
}
.badge--danger {
  background-color: $badge-color-danger;
}
.badge--warning {
  background-color: $badge-color-warning;
}


.chip {
  background-color: $chip-background-color;
  border: 0;
  color: $chip-color;
  font-size: $chip-font-size;
  padding: $chip-padding;
  font-weight: $chip-font-weight;
  border-radius: $chip-radius;
  line-height: 1.2;
  margin-bottom: 6px;
}
.chip_indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: currentColor;
  vertical-align: middle;
  margin-right: 6px;
}


.chip--default {
  background-color: $chip-background-color;
  color: $chip-color;
  box-shadow: 0 0 1px rgba(0,0,0,0.16);
}
.chip--primary {
  background-color: $chip-color-primary;
  color: scale-color($color-primary, $lightness: -60%);
  .chip_indicator {
    background-color: $chip-indicator-primary;
  }
}
.chip--success {
  background-color: $chip-color-success;
  color: scale-color($color-success, $lightness: -60%);
  .chip_indicator {
    background-color: $chip-indicator-success;
  }
}
.chip--danger {
  background-color: $chip-color-danger;
  color: scale-color($color-danger, $lightness: -60%);
  .chip_indicator {
    background-color: $chip-indicator-danger;
  }
}
.chip--warning {
  background-color: $chip-color-warning;
  color: scale-color($color-warning, $lightness: -60%);
  .chip_indicator {
    background-color: $chip-indicator-warning;
  }
}

.is-active,
.active {
  .chip {
    box-shadow: 0 0 4px rgba(0,0,0,0.12);
  }
}
