.badge,
.chip {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: normal;
}

.badge {
  @include square(20px);
  background-color: $badge-background-color;
  color: $badge-text-color;
  font-size: $badge-font-size;
  line-height: 20px;
  border-radius: 50%;
}

.chip {
  background-color: $chip-background-color;
  color: $chip-text-color;
  font-size: $chip-font-size;
  padding: $unit-xs $unit-sm;
  border-radius: 500px;
}

.badge--primary,
.chip--primary {
  background-color: $badge-color-primary;
}
.badge--success,
.chip--success {
  background-color: $badge-color-success;
}
.badge--danger,
.chip--danger {
  background-color: $badge-color-danger;
}
.badge--warning,
.chip--warning {
  background-color: $badge-color-warning;
}
