.btn-group {
  position: relative;
  margin-bottom: $padding-unit;
  @include clearfix();
  > .btn {
    float: left;
    margin-left: -1px !important;
    position: relative;
    z-index: 1;
    border-radius: 0;
    &:first-child {
      margin-left: 0 !important;
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }
    &:last-child {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
    }
    &:hover,
    &:active,
    &:focus,
    &.active,
    &.is-active,
    &.is-focused {
      z-index: 2;
    }
  }
}
