.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  @include touch-action(manipulation);
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  background-color: rgba(0,0,0,0);
  text-transform: $btn-text-transform;
  color: $btn-text-color-base;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  height: $btn-height-base;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size-base;
  line-height: $btn-line-height-base;
  border-radius: $btn-border-radius-base;
  @include user-select(none);
  @include transition(box-shadow .1s $timing-function, background-color .1s $timing-function, border-color .1s $timing-function);
  @include tab-focus;

  &:hover,
  &:active,
  &:focus,
  &.is-active,
  &.is-focused {
    text-decoration: none;
  }
  &:active,
  &:focus,
  &.is-active,
  &.is-focused {
    box-shadow: $btn-focus-shadow;
  }
  &[disabled],
  &.disabled,
  &.is-disabled {
    opacity: 0.6;
    cursor: default;
  }
  &:not(.icon--btn) > .icon {
    position: relative;
    top: -2px;
  }
}

.btn--default,
.btn--muted {
  @include button-color($btn-default-background, $color-gray-light, $text-color-base, #fff);
}
// deprecated
.btn--muted {
  color: $text-color-muted;
}
.btn--danger {
  @include button-color(lighten($btn-danger-background, 6%), $btn-danger-background, #fff, $btn-danger-background);
}
.btn--primary {
  @include button-color(lighten($btn-primary-background, 8%), $btn-primary-background, #fff, $btn-primary-background);
}
.btn--success {
  @include button-color(lighten($btn-success-background, 8%), $btn-success-background, #fff, $btn-success-background);
}
.btn--neutral {
  @include button-color($btn-neutral-background, $btn-neutral-background, #fff, $btn-neutral-background);
}
.btn--link {
  @include button-color(transparent, transparent, $color-gray-medium);
  font-weight: 400;
}

.btn--primary,
.btn--danger,
.btn--success,
.btn--neutral {
  -webkit-font-smoothing: auto;
}


// Button sizes
.btn--sm {
  height: $btn-height-sm;
  padding-top: ceil($btn-padding-vertical / 2);
  padding-bottom: ceil($btn-padding-vertical / 2);
}

.btn--lg {
  height: $btn-height-lg;
  padding-left: ceil($btn-padding-horizontal * 1.5);
  padding-right: ceil($btn-padding-horizontal * 1.5);
  line-height: $btn-height-lg - ($btn-padding-vertical * 2);
}

.btn--wide {
  padding-left: ceil($btn-padding-horizontal * 1.5);
  padding-right: ceil($btn-padding-horizontal * 1.5);
}


// Button alignment adjustments, primarily for .btn--link
// Aligns the contents of a button with the container edge
.btn--align-left {
  margin-left: -$btn-padding-horizontal;
}
.btn--align-right {
  margin-right: -$btn-padding-horizontal;
}

// Icon buttons - perfectly round and wide enough for just an icon
.btn--icon {
  border-radius: 50%;
  min-width: $btn-height-base;
  padding-left: floor($btn-padding-horizontal / 4);
  padding-right: floor($btn-padding-horizontal / 4);
}


// Block button
.btn--block {
  display: block;
  width: 100%;
}

.btn--block + .btn--block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}
