.btn {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  @include touch-action(manipulation);
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  background-color: transparent;
  text-transform: $btn-text-transform;
  color: $btn-text-color-base;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size-base;
  line-height: $btn-line-height-base;
  border-radius: $btn-border-radius-base;
  @include user-select(none);
  @include transition(all .1s $timing-function);
  @include tab-focus;
  &:hover,
  &:active,
  &:focus,
  &.is-active {
    text-decoration: none;
  }
  &:disabled,
  &.is-disabled {
    opacity: $btn-disabled-opacity;
    cursor: default;
  }
  &:not(.icon--btn) > .icon {
    position: relative;
    top: -1px;
  }
}

// Icon buttons - perfectly round and wide enough for just an icon
.btn--icon {
  border-radius: 50%;
  min-width: $btn-height-base;
  padding-left: floor($btn-padding-horizontal / 4);
  padding-right: floor($btn-padding-horizontal / 4);
  color: $btn-icon-fill-color;
}

.btn--default {
  @include button-color($btn-default-background, $color-gray-light, $btn-text-color-base, $btn-default-background);
  &:disabled,
  &.is-disabled {
    border-color: $color-gray-light;
  }
}
.btn--danger {
  @include button-color($btn-danger-background, $btn-danger-background, #fff, $btn-danger-background);
}
.btn--primary {
  @include button-color($btn-primary-background, $btn-primary-background, #fff, $btn-primary-background);
}
.btn--success {
  @include button-color($btn-success-background, $btn-success-background, #fff, $btn-success-background);
}
.btn--link {
  @include button-color(transparent, transparent, $color-gray-medium);
}
// Deprecated in v1.4.0
// Will remove in upcoming release but for now it's using the btn--default class
.btn--neutral {
  @extend .btn--default;
}

.btn--default-outline {
  @include button-outline(#fff);
}
.btn--danger-outline {
  @include button-outline($btn-danger-background);
}
.btn--primary-outline {
  @include button-outline($btn-primary-background);
}
.btn--success-outline {
  @include button-outline($btn-success-background);
}

// Button sizes
.btn--sm {
  font-size: $btn-font-size-sm;
  line-height: $btn-line-height-sm;
  padding-top: ceil($btn-padding-vertical / 2);
  padding-bottom: ceil($btn-padding-vertical / 2);
}

.btn--lg {
  line-height: $btn-line-height-lg;
  padding-left: ceil($btn-padding-horizontal * 1.5);
  padding-right: ceil($btn-padding-horizontal * 1.5);
  line-height: $btn-height-lg - ($btn-padding-vertical * 2);
}

.btn--wide {
  padding-left: ceil($btn-padding-horizontal * 1.5);
  padding-right: ceil($btn-padding-horizontal * 1.5);
}

.btn--toggle,
.btn--toggle-danger {
  color: $btn-toggle-color;
  font-weight: $btn-toggle-weight;
  text-transform: $btn-toggle-transform;
  font-size: $btn-toggle-font-size;
  &:hover,
  &:active,
  &:focus,
  &.is-active {
    color: $btn-toggle-active-color;
    @if ($enable-css-variables) {
      color: var(--primaryAppColor, $btn-toggle-active-color);
    }
    box-shadow: none;
  }
  &:disabled,
  &.is-disabled {
    color: rgba($btn-toggle-color, .7);
  }
}

.btn--toggle-danger {
  &:hover,
  &:active,
  &:focus,
  &.is-active {
    color: $btn-danger-background;
  }
}

// Loading feedback on button
.btn.is-loading {
  // reset the opacity incase the field is disabled
  opacity: 1;
  .btn_progress {
    opacity: 1;
    visibility: visible;
  }
  .btn_content {
    opacity: 0;
  }
}

.btn_content,
.btn_progress {
  @include transition(opacity .2s $timing-function);
}

.btn_content {
  opacity: 1; // for good measure
}

.btn_progress {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  .progress-circular {
    margin: 0;
    border-color: currentColor;
    border-right-color: transparent;
  }
}


// Button alignment adjustments, primarily for .btn--link
// Aligns the contents of a button with the container edge
.btn--align-left {
  margin-left: -$btn-padding-horizontal;
}
.btn--align-right {
  margin-right: -$btn-padding-horizontal;
}

// Block button
.btn--block {
  display: block;
  width: 100%;
}

.btn--block + .btn--block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn--block {
    width: 100%;
  }
}


// Increasing sibling button spacing
// ------------------------------------

// totally not floated
// .btn:not(.u-float-left):not(.u-float-right) + .btn:not(.u-float-left):not(.u-float-right) {
//   margin-left: $padding-unit;
// }

.btn.u-float-left + .btn.u-float-left {
  margin-left: $padding-unit;
}

.btn.u-float-right + .btn.u-float-right {
  margin-right: $padding-unit;
}

