.btn-group {
  position: relative;
  margin-bottom: $padding-unit;
  @include clearfix();
  > .btn {
    float: left;
    margin-left: 0 !important;
    position: relative;
    border-radius: 0;
    border-left-width: 0;
    &:first-child {
      border-left-width: 1px;
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }
    &:last-child {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
    }
  }
}
