.card {
  @include clearfix();
  background-color: $card-background-color;
  @include box-shadow($card-shadow);
  border-radius: $card-radius;
  margin-bottom: $spacing-unit;
  max-width: $card-max-width;
  margin-left: auto;
  margin-right: auto;
  &:last-of-type {
    margin-bottom: $spacing-unit * 1.5
  }
}
.card--wide {
  max-width: none;
}
// optionally remove card appearance for mobile-sized devices
@media (max-width: $viewport-sm-max) {
  .card--reset {
    max-width: none;
    border-radius: 0;
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;
    @include box-shadow(none);
    @include hairline(double, $color-gray-light);
  }
}


// Header
.card_header {
  border-bottom: $border-lt;
  padding: $padding-unit $padding-unit $unit-sm 0;
  line-height: $h2-size;
  > .btn--icon {
    float: right;
    margin-right: -$padding-unit;
    margin-top: -10px;
    margin-bottom: -5px;
  }
  .avatar {
    position: relative;
    top: -$unit-xs;
  }
}
.card_header--borderless {
  border-bottom-width: 0;
}
.card_title {
  font-size: $card-title-size;
  font-weight: $card-title-weight;
  color: $card-title-color;
  margin: 0;
  float: left;
}
.card_sub-title {
  font-size: $font-size-base - 1;
  float: right;
  color: $text-color-light;
}

.card_header,
.card_content,
.card_footer {
  margin-left: $padding-unit;
  @include clearfix();
}

// Content
.card_content {
  padding-right: $padding-unit;
  padding-top: $padding-unit;
  padding-bottom: $padding-unit;
  p:last-child {
    margin-bottom: 0;
  }
}

.card_empty {
  text-align: center;
  color: $text-color-muted;
  line-height: 20px;
  padding: 70px 0 90px;
}

// Footer
.card_footer {
  border-top: $border-lt;
  padding-top: $unit-sm;
  padding-right: $padding-unit;
  text-align: right;
}

// Media
.card_media {
  background-color: $color-gray-medium;
  overflow: hidden;
  &:first-child {
    border-radius: $border-radius-base $border-radius-base 0 0;
  }
  img {
    vertical-align: top;
  }
}

// Card overrides
.card .list {
  margin-right: -$padding-unit;
}
.card hr {
  margin-right: -$padding-unit;
  background: none;
  border-bottom: $border-lt;
}
.card_footer .btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
}

@media (min-width: $viewport-lg-min) {
  .card_header {
    padding: $unit-base $unit-base $padding-unit 0;
  }
  .card_header,
  .card_content,
  .card_footer {
    margin-left: $unit-base;
  }
  .card_content,
  .card_footer {
    padding-right: $unit-base;
  }
  .card hr,
  .card .list {
    margin-right: -$unit-base;
  }
}
