.contact {
  margin-bottom: $unit-base;
  @include clearfix();
  .avatar {
    float: left;
    margin-right: $padding-unit;
    @media (min-width: $viewport-md-min) {
      float: none;
      margin-right: 0;
    }
  }
}

.contact_detail {
  padding-top: $padding-unit / 2;
  /* overflow: hidden will prevent text from wrapping under a left aligned
     sibling element */
  overflow: hidden;
}
