.date {
  display: inline-block;
  background-color: $date-background;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-style: normal;
  color: $date-color;
  width: $date-width;
  border: $date-border;
  font-weight: normal;
  white-space: nowrap;
  border-radius: $date-radius;
  line-height: 1;
}
.date_header {
  border-bottom: $date-border;
  font-size: $date-header-size;
  padding: 1px 0;
  text-transform: uppercase;
}
.date_content {
  font-size: $date-content-size;
  padding: 2px 0;
}
