// typically placed on the body
.has-drawer {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.drawer_backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: $z-index-drawer;
  background-color: $dialog-backdrop-color;
  @include transition(opacity 0.3s $timing-function);
  &.is-visible,
  &.in {
    opacity: $dialog-backdrop-opacity;
  }
}

.drawer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $z-index-drawer + 1;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  outline: 0;
  @include transition(opacity 0.3s 0, visibility 0 0.3s);
  &.is-visible {
    visibility: visible;
    opacity: 1;
    @include transition(opacity 0.3s 0, visibility 0 0);
    .drawer_inner {
      @include translateX(0);
    }
  }
}

// Drawer inner
// --------------------------------
/*
  Makes up the visible canvas of the drawer.
  Has directionality and size:
    - opens from --left or --right
    - can be --sm or --lg
*/
.drawer_inner {
  position: relative;
  @include flexbox-display();
  @include flex-direction(column);
  height: 100%;
  background-color: $drawer-background;
  outline: 0;
  will-change: transform;
  box-shadow: $drawer-shadow;
  @include transition-property(transform);
  @include transition-duration(.3s);
  @include transition-timing-function($timing-function);
}

.drawer_inner--left {
  @include translateX(-100%);
}
.drawer_inner--right {
  @include translateX(100%);
}

.drawer_inner--sm {
  max-width: $drawer-max-width-sm;
  width: calc(100vw - #{$drawer-edge-offset});
  &.drawer_inner--right {
    @include translateX(100%);
    margin-left: auto;
    margin-right: 0;
  }
  @media (min-width: $viewport-md-min) {
    max-width: $drawer-max-width-md;
  }
}
.drawer_inner--lg {
  max-width: none;
  .container {
    max-width: $drawer-max-width-lg;
  }
  @media (min-width: $viewport-md-min) {
    &.drawer_inner--left {
      margin-right: 24%;
      .container {
        margin-right: 0;
      }
    }
    &.drawer_inner--right {
      margin-left: 24%;
      .container {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}




.drawer_content {
  @include flex(1 1 auto);
  overflow-y: auto;
  min-height: 0;
  -webkit-overflow-scrolling: touch;
}

.drawer_header {
  @include flex-shrink(0);
  padding: 36px 0 18px;
  @include hairline(single, $faux-border-color);
  .btn:first-child {
    float: left;
  }
  .btn + .drawer_title {
    margin-left: 8px;
  }
}

.drawer_title {
  font-size: 16px;
  font-weight: bold;
  color: $heading-color;
  @media (min-width: $viewport-md-min) {
    font-size: 18px;
    font-weight: 400;
  }
}

.drawer_close {
  @extend .dialog_close;
}

.drawer_footer {
  @include hairline(single, $faux-border-color);
  @include flex-shrink(0);
  &::after {
    display: none !important;
  }
}
