// Input
.field {
  display: block;
  width: 100%;
  height: $btn-height-base;
  padding: $btn-padding-vertical ($btn-padding-horizontal / 1.5);
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color-muted;
  background-color: #fff;
  border: $border-base;
  border-radius: $border-radius-base;
  box-shadow: none;
  &[disabled],
  fieldset[disabled] & {
    background-color: $color-gray-lighter;
    opacity: 1; // iOS fix for unreadable disabled content
    cursor: not-allowed;
  }
  &:focus {
    border-color: $color-primary;
    color: $text-color-base;
    outline: none;
  }
}
.field--lg {
  height: $btn-height-lg;
}
textarea.field {
  height: auto;
}

// Label
.label {
  margin-bottom: $unit-xs;
  font-weight: 600;
}

// Validation
.has-error {
  border-color: $color-danger;
}
.errors {
  color: $color-danger;
  font-size: $font-size-base - 1;
}
.error_item {
  display: block;
  margin-top: $unit-xs;
  margin-bottom: $unit-sm;
}

// Checkboxes and radios
.control {
  position: relative;
  display: block;
  padding-left: $unit-base * 1.5;
  padding-top: 2px;
  color: $text-color-base;
  cursor: pointer;
  margin-bottom: $unit-xs;
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1; // put the input behind the label so it doesn't overlay text
  }
}
.control_indicator {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  @include square(18px);
  line-height: 18px;
  text-align: center;
  border: $border-base;
  background-size: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  @include user-select(none);
}
.control input:focus ~ .control_indicator {
  border-color: $color-primary;
}
.control input:checked ~ .control_indicator {
  border-color: transparent;
}
.control input:disabled ~ .control_indicator {
  cursor: default;
}

.control--checkbox {
  .control_indicator {
    border-radius: 2px;
  }
  input:checked ~ .control_indicator {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCiAgICA8cGF0aCBkPSJNOSAxNi4xN2wtNC4xNy00LjE3LTEuNDIgMS40MSA1LjU5IDUuNTkgMTItMTItMS40MS0xLjQxeiIgZmlsbD0iIzNBQUVEQSIgLz4NCjwvc3ZnPg==);
  }
}

.control--radio {
  .control_indicator {
    border-radius: 50%;
  }
  input:checked ~ .control_indicator {
  }
}

.control_indicator--borderless {
  border-color: transparent;
}
.control_indicator--lg {
  @include square($unit-base);
  line-height: $unit-base;
  background-size: $unit-base;
}

// Switch
.switch {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: middle;
}
.switch_checkbox {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch_toggle {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  width: 56px;
  height: 30px;
  border-radius: 15px;
  padding: 1px;
  background-color: $color-gray-light;
  @include transition(background-color 0.36s $timing-function);
  &:before,
  &:after {
    content: '';
    position: absolute;
  }
  &:before {
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background-color: $color-gray-lighter;
    border-radius: 15px;
    @include transition(background-color 0.36s $timing-function);
  }
  &:after {
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    background-color: #fff;
    border: 1px solid $color-gray-light;
    border-radius: 100%;
    @include transition(all 0.36s $timing-function);
  }
  .switch_checkbox:checked + & {
    background-color: $color-green;
  }
  .switch_checkbox[disabled] + & {
    cursor: default;
  }
  .switch_checkbox:checked + &:before {
    background-color: lighten($color-green, 12%);
  }
  .switch_checkbox:checked + &:after {
    border-color: $color-green;
    margin-left: 26px;
  }
}


// Radio


// Select


// Textarea


// Fieldsets
.fieldset {
  margin-bottom: $padding-unit;
  @media (min-width: $viewport-md-min) {
    margin-bottom: $spacing-unit;
  }
}
.fieldset_label {
  font-weight: 600;
}
.fieldset_label,
.fieldset_static {
  padding-top: $unit-base / 2;
  padding-bottom: $unit-base / 2;
  margin-bottom: 0;
}
.fieldset_control {
  padding-top: $unit-xs;
}
