// clean house
::-ms-reveal {
  display: none;
}
::-ms-clear {
  display: none;
}

.form-row {
  @include flexbox-display();
  -ms-flex-flow: row nowrap;
  margin-bottom: $padding-unit;
  .form-group {
    margin-bottom: 0;
  }
}
.form-group {
  @include flex(1 1 auto);
  display: block;
  position: relative;
  margin-bottom: $padding-unit;
  .error {
    position: absolute;
    bottom: -$padding-unit;
  }
  .label {
    position: relative;
    top: $unit-xs;
  }
  .label + .form-control {
    margin-top: $unit-xs + 2;
  }
  .field + .field,
  .form-row & + & {
    @include faux-border(left, $color-gray-light);
    padding-left: $unit-sm;
  }
  .form-row & + & {
    padding-left: 0;
    .field,
    .label,
    .filter_select {
      padding-left: $unit-sm;
    }
  }
  .filter {
    display: block;
  }
  select.field {
    display: block;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
}
.form-group--single {
  margin-bottom: 0;
}
.form-addon {
  height: auto;
  border-radius: 0;
  border: 0;
  border-bottom: $border-base;
  padding-left: $unit-sm;
  padding-right: $unit-sm;
  text-transform: uppercase;
  font-size: $font-size-sm;
  &:hover,
  &:active,
  &:focus,
  &.is-active,
  &.is-focused {
    border-bottom: $border-base;
  }
}

.error {
  color: $color-danger;
  font-size: $font-size-sm;
}

// Label
.label {
  font-size: $font-size-sm;
  color: $text-color-light;
  font-weight: 600;
  text-align: left;
}
.field {
  display: block;
  width: 100%;
  height: $field-height;
  padding: $unit-xs 0 0;
  border: 0;
  font-size: $font-size-base;
  background-color: transparent;
  border-radius: 0;
  color: $text-color-dark;
  border-bottom: $border-base;
  @include transition(border-bottom .2s $timing-function);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  &:focus {
    outline: 0;
    border-bottom-color: $color-primary;
  }
  &[disabled],
  &.is-disabled {
    border-bottom-color: darken($color-gray-light, 5%);
    border-bottom-style: dotted;
  }
}
textarea.field,
textarea.form-control {
  height: auto;
}

.field--single {
  padding-top: $unit-sm;
  padding-bottom: $unit-sm;
}
.field--borderless {
  border-bottom: 0;
}
.field--lg {
  font-size: $h2-size;
}

.has-error,
.has-error:focus {
  border-bottom-color: $color-danger;
}

.label_required {
  color: $color-danger;
}


.filter {
  position: relative;
  display: inline-block;
  color: $filter-color;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: $padding-unit / 2;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -2px;
    pointer-events: none;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}
select.field {
  display: inline-block;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #fff;
  padding-right: $unit-base;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  &:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  &::-ms-expand {
    display: none;
  }
}

// media query to target Firefox only
@-moz-document url-prefix() {
  .filter {
    &:after {
      margin-top: 0;
    }
  }
  select.field {
    // Firefox hack to hide the arrow
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 20px;

    // <option> elements inherit styles from <select>, so reset them
    options {
      background-color: #fff;
    }
  }
}

// IE9 hack to hide the arrow
@media screen and (min-width: 0\0) {
  select.field {
    z-index: 1;
    padding: $padding-unit / 2;
  }
  .filter {
    &:after {
      z-index: 5;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      display: block;
      width: 26px; // covers the native select's arrow
      background-color: #fff;
    }
    select.field {
      &:hover,
      &:focus,
      &:active {
        color: $filter-focus-color;
      }
    }
  }
  .form-row {
    margin-bottom: 0;
    .form-group {
      margin-bottom: $unit-base;
    }
  }
}




// Checkboxes and radios
.control {
  position: relative;
  display: block;
  padding-left: $unit-base * 1.5;
  padding-top: 2px;
  color: $text-color-base;
  cursor: pointer;
  margin-bottom: $unit-xs;
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1; // put the input behind the label so it doesn't overlay text
  }
}
.control_indicator {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  @include square(18px);
  line-height: 18px;
  text-align: center;
  border: $border-base;
  background-size: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  @include user-select(none);
}
.control input:focus ~ .control_indicator {
  border-color: $color-primary;
}
.control input:checked ~ .control_indicator {
  border-color: transparent;
}
.control input:disabled ~ .control_indicator {
  cursor: default;
}

.control--checkbox {
  .control_indicator {
    border-radius: 2px;
  }
  input:checked ~ .control_indicator {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4NCiAgICA8cGF0aCBkPSJNOSAxNi4xN2wtNC4xNy00LjE3LTEuNDIgMS40MSA1LjU5IDUuNTkgMTItMTItMS40MS0xLjQxeiIgZmlsbD0iIzNBQUVEQSIgLz4NCjwvc3ZnPg==);
  }
}

.control--radio {
  .control_indicator {
    border-radius: 50%;
  }
  input:checked ~ .control_indicator {
  }
}

.control_indicator--borderless {
  border-color: transparent;
}
.control_indicator--lg {
  @include square($unit-base);
  line-height: $unit-base;
  background-size: $unit-base;
}

// Switch
.switch {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
  vertical-align: middle;
}
.switch_checkbox {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch_toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  width: 56px;
  height: 30px;
  border-radius: 15px;
  padding: 1px;
  background-color: $color-gray-light;
  @include transition(background-color 0.36s $timing-function);
  &:before,
  &:after {
    content: '';
    position: absolute;
  }
  &:before {
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background-color: $color-gray-lighter;
    border-radius: 15px;
    @include transition(background-color 0.36s $timing-function);
  }
  &:after {
    top: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    background-color: #fff;
    border: 1px solid $color-gray-light;
    border-radius: 100%;
    @include transition(all 0.36s $timing-function);
  }
  .switch_checkbox:checked + & {
    background-color: $color-green;
  }
  .switch_checkbox[disabled] + & {
    cursor: default;
  }
  .switch_checkbox:checked + &:before {
    background-color: lighten($color-green, 12%);
  }
  .switch_checkbox:checked + &:after {
    border-color: $color-green;
    margin-left: 26px;
  }
}


// Radio


// Select


// Textarea


// Fieldsets
.fieldset {
  margin-bottom: $padding-unit;
  @media (min-width: $viewport-md-min) {
    margin-bottom: $spacing-unit;
  }
}
.fieldset_label {
  font-weight: 600;
}
.fieldset_label,
.fieldset_static {
  padding-top: $unit-base / 2;
  padding-bottom: $unit-base / 2;
  margin-bottom: 0;
}
.fieldset_control {
  padding-top: $unit-xs;
}



.form-control {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  color: $text-color-dark;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  height: $btn-height-base;
  font-size: $btn-font-size-base;
  line-height: $btn-line-height-base;
  padding: 8px;
  background-color: $color-gray-light;
  border-radius: $border-radius-base;
  @include transition(border-color .2s $timing-function);
  &:focus {
    outline: 0;
    border-color: $color-primary;
  }
  &.disabled,
  &[disabled] {
    opacity: 0.8;
  }
}

