// Inline field elements
.form-row {
  @include flexbox-display();
  -ms-flex-flow: row nowrap;
  margin-bottom: $padding-unit;
  .form-group {
    margin-bottom: 0;
  }
}
.form-group {
  @include flex(1 1 auto);
  display: block;
  position: relative;
  margin-bottom: $padding-unit;
  .error {
    position: absolute;
    bottom: -$padding-unit;
  }
  .label {
    margin-bottom: 2px;
  }
  .field + .field,
  .form-row & + & {
    @include faux-border(left, $color-gray-light);
    padding-left: $unit-sm;
  }
  .form-row & + & {
    padding-left: 0;
    .field,
    .label,
    .filter_select {
      padding-left: $unit-sm;
    }
  }
  .filter {
    display: block;
  }
  select.field {
    display: block;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }
}
.form-group--single {
  margin-bottom: 0;
}
.form-addon {
  height: auto;
  border-radius: 0;
  border: 0;
  border-bottom: $border-base;
  padding-left: $unit-sm;
  padding-right: $unit-sm;
  text-transform: uppercase;
  font-size: $font-size-sm;
  &:hover,
  &:active,
  &:focus,
  &.is-active {
    border-bottom: $border-base;
  }
}

.error {
  color: $color-danger;
  font-size: $font-size-sm;
}

// Label
.label {
  font-size: $font-size-sm;
  color: $text-color-light;
  font-weight: 600;
  text-align: left;
}
.label_required {
  color: $color-danger;
}

// Field
// Underlined input
.field {
  display: block;
  width: 100%;
  height: $field-height;
  padding: $unit-xs 0 0;
  border: 0;
  font-size: $font-size-base;
  background-color: transparent;
  border-radius: 0;
  color: $text-color-dark;
  border-bottom: $border-base;
  @include transition(border-bottom .2s $timing-function);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  &:focus {
    outline: 0;
    border-bottom-color: $color-primary;
  }
  &:disabled,
  &.is-disabled {
    border-bottom-color: darken($color-gray-light, 5%);
    border-bottom-style: dotted;
  }
  &:invalid {
    box-shadow: none; // FF reset
  }
}
textarea.field,
textarea.form-control {
  height: auto;
}

.field--single {
  padding-top: $unit-sm;
  padding-bottom: $unit-sm;
}
.field--borderless {
  border-bottom: 0;
}
.field--lg {
  font-size: $h2-size;
}

.label + .field,
.label + .filter {
  margin-top: -8px;
}

// Checkboxes and radios
.control {
  position: relative;
  display: block;
  padding-left: $unit-base * 1.5;
  padding-top: 2px;
  color: $text-color-base;
  cursor: pointer;
  margin-bottom: $unit-xs;
  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1; // put the input behind the label so it doesn't overlay text
  }
}
.control--inline {
  display: inline-block;
}
.control_indicator {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  @include square(18px);
  line-height: 18px;
  text-align: center;
  border: $border-base;
  background-color: #fff;
  background-size: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  @include transition(all .2s ease);
  @include user-select(none);
}
.control input:focus ~ .control_indicator {
  border-color: $color-primary;
  box-shadow: 0 0 0 2px rgba($color-primary, .2);
}
.control input:disabled ~ .control_indicator {
  opacity: 0.6;
  cursor: default;
}

.control--checkbox {
  .control_indicator {
    border-radius: 2px;
  }
  input:checked ~ .control_indicator,
  input:indeterminate ~ .control_indicator {
    background-color: $color-primary;
    border-color: $color-primary;
  }
  input:checked ~ .control_indicator {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjZmZmZmZmIj4gICAgPHBhdGggZD0iTTkgMTYuMTdsLTQuMTctNC4xNy0xLjQyIDEuNDEgNS41OSA1LjU5IDEyLTEyLTEuNDEtMS40MXoiLz48L3N2Zz4=);
  }
  input:indeterminate ~ .control_indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 2px;
    @include translate(-50%, -50%);
    background-color: #fff;
  }
}

.control--radio {
  .control_indicator {
    border-radius: 50%;
  }
  input:checked ~ .control_indicator {
    background-color: $color-primary;
    border-color: $color-primary;
  }
  input:checked ~ .control_indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    @include square(50%);
    @include translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
  }
}

.control_indicator--lg {
  @include square($unit-base);
  line-height: $unit-base;
  background-size: $unit-base;
}

// Switches
.switch {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: -4px;
  padding: 4px;
  line-height: 1;
  contain: content;
  vertical-align: middle;
}
.switch_checkbox {
  position: absolute;
  margin-left: -9999px;
  opacity: 0;
}
.switch_toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  width: 58px;
  height: 26px;
  border-radius: 13px;
  padding: 1px;
  &::before,
  &::after {
    content: '';
    position: absolute;
  }
  &::before {
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background-color: $color-gray-lighter;
    border-radius: 13px;
    @include transition(background-color 0.3s $timing-function);
  }
  &::after {
    top: 4px;
    bottom: 0;
    left: 5px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,.2);
    border-radius: 100%;
    @include transition(all 0.3s $timing-function);
  }
  .switch_checkbox:disabled + & {
    opacity: 0.6;
    cursor: default;
  }
  .switch_checkbox:checked + &::before {
    background-color: $color-green;
  }
  .switch_checkbox:checked + &::after {
    @include translateX(30px);
  }
  .switch_checkbox:focus + &::after {
    box-shadow: 0 0 0px 1px $color-gray-medium;
  }
  .switch_checkbox:checked:focus + &::after {
    box-shadow: 0 0 0px 1px lighten($color-green, 12%);
  }
}


// Fieldsets
.fieldset {
  margin-bottom: $padding-unit;
  @media (min-width: $viewport-md-min) {
    margin-bottom: $spacing-unit;
  }
}
.fieldset_label {
  font-weight: $font-weight-semibold;
  color: $text-color-dark;
}
.fieldset_label,
.fieldset_static {
  padding-top: $unit-base / 2;
  padding-bottom: $unit-base / 2;
  margin-bottom: 0;
  font-size: $font-size-base - 1;
}
.fieldset_static {
  color: $fieldset-color;
}
.fieldset_control {
  padding-top: $unit-xs;
}


// Primary input field
.form-control {
  display: block;
  width: 100%;
  border: 1px solid $color-gray-light;
  color: $text-color-dark;
  height: $btn-height-base;
  font-size: $btn-font-size-base;
  line-height: $line-height-base;
  padding: 8px;
  background-color: #fff;
  border-radius: $border-radius-base;
  @include transition(all .2s $timing-function);
  &:focus {
    outline: 0;
    border-color: $color-primary;
    box-shadow: 0 0 0 2px rgba($color-primary, .2);
  }
  &.disabled,
  &:disabled {
    background-color: rgba($color-gray-lighter, .7);
    border-color: $color-gray-light;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    color: $color-gray-medium;
  }
}


// Floating label
// only applies to .field, never to .form-control
.floating-group {
  display: block;
  position: relative;
  padding-top: 12px;
  margin-bottom: $padding-unit;
  .label {
    position: absolute;
    pointer-events: none;
    font-size: $font-size-base;
    color: $text-color-light;
    font-weight: normal;
    left: 0;
    top: 26px;
    @include transition(all .2s $timing-function);
  }
}

.floating-group.has-value .label,
.field:focus ~ .label,
.field:valid ~ .label {
  font-size: $font-size-sm;
  font-weight: 600;
  top: 0;
}


// Select
.select {
  $arrow-background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjYjRiOWJjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjwvc3ZnPgo=);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  font-weight: $btn-font-weight;
  font-size: $btn-font-size-base;
  line-height: $btn-line-height-base;
  border-radius: $btn-border-radius-base;
  padding: $btn-padding-vertical 8px;
  padding-right: 12px + 18px; // margin + icon background size
  -webkit-padding-end: 12px + 18px;
  -webkit-padding-start: 8px;
  border: 1px solid;
  background-color: $btn-default-background;
  border-color: $color-gray-light;
  color: $btn-text-color-base;
  background-image: $arrow-background;
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 18px;
  height: $btn-height-base;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include tab-focus;
  &:hover,
  &:active,
  &:focus {
    color: $btn-text-color-base;
  }
  &:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0 2px rgba($color-primary, .2);
  }
  &:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}


.filter {
  position: relative;
  display: inline-block;
  color: $filter-color;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: $padding-unit / 2;
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -2px;
    pointer-events: none;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}
select.field {
  display: inline-block;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #fff;
  padding-right: $unit-base;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  &:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  &::-ms-expand {
    display: none;
  }
}

// media query to target Firefox only
@-moz-document url-prefix() {
  .filter {
    &::after {
      margin-top: 0;
    }
  }
  select.field {
    // Firefox hack to hide the arrow
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 20px;

    // <option> elements inherit styles from <select>, so reset them
    options {
      background-color: #fff;
    }
  }
}

.form-control--inline {
  display: inline-block;
  width: auto;
  max-width: 100%;
}

.has-error {
  border-color: $field-invalid-color;
  &:focus,
  &.form-control:focus,
  &.select:focus {
    border-color: $field-invalid-focus-color;
    box-shadow: 0 0 0 2px rgba($field-invalid-focus-color, .2);
  }
}
