.help-launcher {
  display: none;
  position: fixed;
  right: $spacing-unit;
  bottom: $spacing-unit;
  font-size: 24px;
  color: #fff;
  background-color: $help-launcher-background;
  text-align: center;
  line-height: 1;
  padding: $help-launcher-padding;
  border-radius: $help-launcher-radius;
  cursor: pointer;
  opacity: $help-launcher-opacity-default;
  @include transition(opacity .2s $timing-function);
  @if $help-launcher-square != false {
    @include square($help-launcher-square-size);
  }
  &:hover {
    opacity: $help-launcher-opacity-hover;
  }
  @media (min-width: $viewport-md-min) {
    display: block;
  }
}
