.icon {
  display: inline-block;
  vertical-align: middle;
  @include square($icon-size-base);
  fill: $icon-fill-color;
}

.icon--xs {
  @include square($icon-size-xs);
  position: relative;
  top: -2px;
}
.icon--sm {
  @include square($icon-size-sm);
  position: relative;
  top: -2px;
}

.icon--lg {
  @include square($icon-size-lg);
}

.icon--xl {
  @include square($icon-size-xl);
}

.icon--navigation {
  position: absolute;
  top: -3px;
  right: 0;
}


// Icon container
.icon-container {
  display: inline-block;
  vertical-align: middle;
  @include square(36px);
  background-color: $color-gray-lighter;
  border-radius: 50%;
  position: relative;
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
}
