.inline-group {
  @include flexbox-display();
  .field,
  .form-control {
    margin-bottom: 0;
    @include flex(1);
    @include flex-grow(1);
  }
  *:not(:first-child) {
    margin-left: $unit-xs;
  }
}

.inline-group_btn {
  white-space: nowrap;
  vertical-align: middle;
  @include flex-shrink(0);
}
