// List that contains elements like text, buttons and form fields
.list {
  margin-bottom: $unit-xs;
  @media (min-width: $viewport-md-min) {
    margin-bottom: $unit-sm;
  }
}

.list--borderless {
  .list_item {
    border-bottom: 0;
    background-image: none;
  }
}
.list--sm {
  .list_item {
    padding-top: $padding-unit / 2;
    padding-bottom: $padding-unit / 2;
  }
}
.list--inset {
  padding-left: $padding-unit;
  @media (min-width: $viewport-lg-min) {
    padding-left: $unit-base;
  }
}

.list_item {
  display: block;
  padding-top: $padding-unit;
  padding-bottom: $padding-unit;
  padding-right: $padding-unit;
  @include faux-border(bottom, $color-gray-light);
  color: $text-color-base;
  font-size: $font-size-base;
  @include clearfix();
  &:active,
  &:focus {
    outline: 0;
  }
  &:hover {
    color: $text-color-base;
  }
  &:last-of-type {
    background-image: none;
    border-bottom: 0;
  }
  a:not(.btn):not(.title) {
    color: $text-color-base;
  }
  @media (min-width: $viewport-lg-min) {
    padding-right: $unit-base;
  }
  &.is-active,
  &.active {
    color: $color-primary;
    font-weight: 600;
  }
}
.list_item--inset {
  border-bottom: 0;
  @include hairline(single, $color-gray-light, ($thumbnail-size-sm + $padding-unit));
  &:last-of-type {
    border-bottom: 0;
    background-image: none;
  }
}

.list_item_action {
  float: left;
  min-width: $thumbnail-size-sm;
  margin-right: $padding-unit;
  min-height: 1px;
}
.list_item_content {
  overflow: hidden;
  position: relative;
}


.list_heading {
  color: $text-color-light;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid $color-gray-light;
  font-size: $font-size-base - 1;
  font-weight: 600;
}
