.pagination {
  @extend .btn-group;
  @include flexbox-display();
  @include justify-content(center);
}
.pagination_item {
  @extend .btn;
  @extend #{$pagination-button-class};
  display: none; // for responsive limiting
  min-width: $pagination-min-width;
  padding-left: 0;
  padding-right: 0;
  &.is-active {
    background-color: $pagination-active-background;
    color: $pagination-active-color;
    border-color: darken($pagination-active-background, 5%);
    & + .pagination_item {
      border-left-color: darken($pagination-active-background, 5%);
    }
  }
  &:first-child,
  &:last-child,
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    display: inline-block;
  }
}

@media (min-width: $viewport-sm-min) {
  .pagination_item {
    &:first-child, // previous button
    &:last-child, // next button
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      display: inline-block;
    }
  }
}
