.progress-circular {
  @include animation-duration($progress-circular-speed);
  @include animation-iteration-count(infinite);
  @include animation-name(rotate-forever);
  @include animation-timing-function(linear);
  @include transform-origin(center);
  @include square($progress-circular-size-base);
  border: $progress-circular-thickness-base solid $progress-circular-color;
  border-right-color: transparent;
  border-radius: 50%;
  margin: 80px auto;
  contain: strict;
}
.progress-circular--center {
  margin-top: calc(50vh - 100px);
}
.progress-circular--inline {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: $unit-sm;
  vertical-align: middle;
}
.progress-circular--sm {
  border-width: $progress-circular-thickness-sm;
  @include square($progress-circular-size-sm);
}

.progress-linear {
  display: inline-block;
  width: $progress-linear-width;
  max-width: 100%;
  height: $progress-linear-height;
  &[value] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    // remove Firefox and Opera border
    border: 0;
    // IE10 uses `color` to set the bar background-color
    color: $progress-linear-color;
    &::-webkit-progress-bar {
      background-color: $color-gray-light;
      border-radius: $progress-linear-radius;
    }
    &::-webkit-progress-value {
      background-color: $progress-linear-color;
      border-top-left-radius: $progress-linear-radius;
      border-bottom-left-radius: $progress-linear-radius;
    }
  }
  &[value="100"]::-webkit-progress-value {
    border-top-right-radius: $progress-linear-radius;
    border-bottom-right-radius: $progress-linear-radius;
  }
}
.progress-linear--sm {
  &,
  & .progress_bar {
    height: $progress-linear-height-sm;
  }
}

// Firefox styles must be entirely separate or it busts Webkit styles.
@-moz-document url-prefix() {
  .progress-linear[value] {
    background-color: $color-gray-light;
    border-radius: $progress-linear-radius;
    &::-moz-progress-bar {
      background-color: $progress-linear-color;
      border-top-left-radius: $progress-linear-radius;
      border-bottom-left-radius: $progress-linear-radius;
    }
  }
  .progress-linear[value="100"]::-moz-progress-bar {
    border-top-right-radius: $progress-linear-radius;
    border-bottom-right-radius: $progress-linear-radius;
  }
}

// IE9 hacks to accompany custom markup.
.progress-linear {
  background-color: $color-gray-light;
  border-radius: $progress-linear-radius;
}
.progress_bar {
  display: inline-block;
  height: $progress-linear-height;
  text-indent: -99999px; // simulate hiding of value in native <progress>
  background-color: $progress-linear-color;
  border-top-left-radius: $progress-linear-radius;
  border-bottom-left-radius: $progress-linear-radius;
  vertical-align: top;
  @include transition(width .3s $timing-function);
  &[width="100%"] {
    border-top-right-radius: $progress-linear-radius;
    border-bottom-right-radius: $progress-linear-radius;
  }
}

.progress-helper {
  margin-left: $unit-sm;
  font-size: $font-size-base - 1;
  color: $text-color-light;
  display: inline-block;
}
