.progress-circular {
  width: 40px;
  height: 40px;
  margin: 80px auto;
  background-color: $color-gray-medium;
  border-radius: 100%;
  @include animation(scale-out 1.0s infinite ease-in-out);
}


.progress-linear {
  display: inline-block;
  width: $progress-width;
  max-width: 100%;
  height: $progress-height;
  &[value] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    // remove Firefox and Opera border
    border: 0;
    // IE10 uses `color` to set the bar background-color
    color: $progress-color;
    &::-webkit-progress-bar {
      background-color: $color-gray-light;
      border-radius: $progress-radius;
    }
    &::-webkit-progress-value {
      background-color: $progress-color;
      border-top-left-radius: $progress-radius;
      border-bottom-left-radius: $progress-radius;
    }
  }
  &[value="100"]::-webkit-progress-value {
    border-top-right-radius: $progress-radius;
    border-bottom-right-radius: $progress-radius;
  }
}

// Firefox styles must be entirely separate or it busts Webkit styles.
@-moz-document url-prefix() {
  .progress-linear[value] {
    background-color: $color-gray-light;
    border-radius: $progress-radius;
    &::-moz-progress-bar {
      background-color: $progress-color;
      border-top-left-radius: $progress-radius;
      border-bottom-left-radius: $progress-radius;
    }
  }
  .progress-linear[value="100"]::-moz-progress-bar {
    border-top-right-radius: $progress-radius;
    border-bottom-right-radius: $progress-radius;
  }
}

// IE9 hacks to accompany custom markup.
.progress-linear {
  background-color: $color-gray-light;
  border-radius: $progress-radius;
}
.progress_bar {
  display: inline-block;
  height: $progress-height;
  text-indent: -99999px; // simulate hiding of value in native <progress>
  background-color: $progress-color;
  border-top-left-radius: $progress-radius;
  border-bottom-left-radius: $progress-radius;
  vertical-align: top;
  &[width="100%"] {
    border-top-right-radius: $progress-radius;
    border-bottom-right-radius: $progress-radius;
  }
}

.progress-helper {
  margin-left: $unit-sm;
  font-size: $font-size-base - 1;
  color: $color-gray-medium;
  display: inline-block;
}
