.search {
  background-color: $background-color;
  padding: $padding-unit / 2;
  margin-left: -$padding-unit;
  margin-right: -$padding-unit;
  @media (max-width: ($viewport-md-min - 1)) {
    &.u-visible\@mobile + .content {
      padding-top: 0;
    }
  }
  @media (min-width: $viewport-md-min) {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.search_bar {
  display: block;
  padding: 8px;
  background-color: $color-gray-light;
  border-radius: $border-radius-base;
  @include clearfix();
}
.search_icon {
  float: left;
  .icon {
    @include square(18px);
    fill: $text-color-light;
  }
}
.search_input {
  border: 0;
  background: none;
  padding: 0 0 0 8px;
  font-size: 13px;
  color: $text-color-dark;
  width: calc(100% - 18px);
  &:focus {
    outline: 0;
  }
}

// Global search
.global-search {
  @include flexbox-display();
  @include justify-content(stretch);
  @include flex(1);
  position: relative;
  &.is-condensed {
    max-width: 180px;
    margin-left: auto;
    .global-search_icon {
      padding-right: $unit-xs;
    }
  }
}

.global-search_input {
  @include flex(1);
  border: 0;
  font-size: $font-size-base;
  color: $text-color-base;
  background-color: transparent;
  @include order(2);
  &:focus {
    outline: 0;
    & ~ .global-search_icon {
      .icon {
        fill: $color-gray-base;
      }
    }
  }
}

.global-search_input::-webkit-input-placeholder {
  color: $text-color-light;
  font-style: italic;
}
.global-search_input::-moz-placeholder {
  color: $text-color-light;
  font-style: italic;
}
.global-search_input::-ms-input-placeholder {
  color: $text-color-light;
  font-style: italic;
}

.global-search_icon {
  @include flex(none);
  @include order(1);
  padding: 18px $padding-unit;
  .icon {
    @include square($avatar-size-xs);
    @include transition(all .2s ease);
  }
}

.global-search_dropdown {
  $search-height: "100vh - 120px";
  max-width: none;
  width: auto;
  // because .dropdown_menu is position absolute;
  z-index: $z-index-topbar - 1;
  left: 0;
  right: 0;
  padding-left: $padding-unit;
  overflow-y: auto;
  max-height: calc(#{$search-height});
  height: calc(#{$search-height});
  -webkit-overflow-scrolling: touch;
  @media (min-width: $viewport-md-min) {
    left: -$unit-sm;
    right: -$unit-sm;
    max-height: 400px;
  }
}
