.search {
  @include flexbox-display;
  position: relative;
  margin-bottom: $padding-unit;
  .is-first,
  & > :first-child {
    border-top-left-radius: ($btn-height-base / 2);
    border-bottom-left-radius: ($btn-height-base / 2);
  }
  .is-last,
  & > :last-child {
    border-top-right-radius: ($btn-height-base / 2);
    border-bottom-right-radius: ($btn-height-base / 2);
  }
}
.search_bar {
  display: block;
  position: relative;
  width: 100%;
  .input-group & {
    .search_input {
      margin-left: 0;
      width: 100%;
    }
  }
}
.search_input {
  padding-left: 36px;
  border-radius: ($btn-height-base / 2);
}
.search_icon {
  position: absolute;
  font-size: 0;
  left: 12px;
  top: 50%;
  z-index: 4;
  @include translateY(-50%);
  .icon {
    @include square(18px);
    fill: $text-color-light;
  }
}


// Global search
.global-search {
  @include flexbox-display();
  @include justify-content(stretch);
  @include flex(1);
  position: relative;
  &.is-condensed {
    max-width: 180px;
    margin-left: auto;
    .global-search_icon {
      padding-right: $unit-xs;
    }
  }
}

.global-search_input {
  @include flex(1);
  border: 0;
  font-size: $font-size-base;
  color: $text-color-base;
  background-color: transparent;
  @include order(2);
  &:focus {
    outline: 0;
    & ~ .global-search_icon {
      .icon {
        fill: $color-gray-base;
      }
    }
  }
}

.global-search_input::-webkit-input-placeholder {
  color: $text-color-light;
  font-style: italic;
}
.global-search_input::-moz-placeholder {
  color: $text-color-light;
  font-style: italic;
}
.global-search_input::-ms-input-placeholder {
  color: $text-color-light;
  font-style: italic;
}

.global-search_icon {
  @include flex(none);
  @include order(1);
  padding: 18px $padding-unit;
  .icon {
    @include square($avatar-size-xs);
    @include transition(all .2s ease);
  }
}

.global-search_dropdown {
  $search-height: "100vh - 120px";
  max-width: none;
  width: auto;
  // because .dropdown_menu is position absolute;
  z-index: $z-index-topbar - 1;
  left: 0;
  right: 0;
  padding-left: $padding-unit;
  overflow-y: auto;
  max-height: calc(#{$search-height});
  height: calc(#{$search-height});
  -webkit-overflow-scrolling: touch;
  @media (min-width: $viewport-md-min) {
    left: -$unit-sm;
    right: -$unit-sm;
    max-height: 400px;
  }
}
