.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacing-unit;
  font-size: $table-font-size;
  color: $table-color-base;
  thead {
    text-align: left;
  }
  th,
  td {
    padding: $table-cell-padding-base;
    border-bottom: 1px solid $table-border-color;
  }
  th {
    font-size: $table-font-size - 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $table-heading-color;
  }
  tr:active,
  tr:focus {
    outline: 0;
  }
}

.table--sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}

.table--bordered {
  th,
  td {
    border-left: 1px solid $table-border-color;
  }
  tr {
    th:first-child,
    td:first-child {
      border-left: 0;
    }
  }
}

.table--align-left {
  tr {
    td:first-child,
    th:first-child {
      padding-left: 0;
    }
  }
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; // workaround for IE9 bug
  margin-bottom: $spacing-unit;
  .table {
    margin-bottom: 0;
  }
  @media (max-width: $viewport-sm-max) {
    width: 100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: cross-slide-x;
    touch-action: pan-x;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    .table {
      th,
      td {
        white-space: nowrap;
      }
    }
    // reset no padding on tables inside .table-responsive
    .table--align-left {
      padding-left: $padding-unit;
    }
  }
}


// Table cell sizing
// Allow for using grid classes to set percentage widths
td,
th {
  &[class^="grid_"] {
    float: none;
    margin-left: 0;
    margin-right: 0;
    position: static;
  }
}


// Stacked tables
@media (max-width: $viewport-sm-max) {
  .table--stacked {
    thead {
      position: absolute;
      top: 0;
      left: -99999px;
    }
    th {
      border-bottom-width: 0;
    }
    tr {
      display: block;
      border-bottom: 1px solid $table-border-color;
    }
    td {
      display: block;
      padding: $unit-sm 0;
      width: 100%;
      clear: both;
      white-space: normal;
      overflow: hidden;
      text-align: left;
      &:before {
        display: block;
        padding-bottom: $unit-xs;
        content: attr(data-label);
        font-size: $table-font-size - 1;
        font-weight: 600;
        text-transform: uppercase;
        color: $table-heading-color;
      }
    }
  }

  .table--stacked-horizontal {
    @extend .table--stacked;
    td {
      text-align: right;
      &::before {
        float: left;
        padding-bottom: 0;
      }
    }
  }
}
