.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacing-unit;
  font-size: $table-font-size;
  color: $table-color-base;
  th,
  td {
    padding: $table-cell-padding-base;
    border-bottom: 1px solid $table-border-color;
  }
  th {
    text-align: left;
    font-size: $table-font-size - 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $table-heading-color;
  }
  tr:active,
  tr:focus {
    outline: 0;
  }
}

.table--sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}

.table--bordered {
  th,
  td {
    border-left: 1px solid $table-border-color;
  }
  tr {
    th:first-child,
    td:first-child {
      border-left: 0;
    }
  }
}

.table--align-left {
  tr {
    td:first-child,
    th:first-child {
      padding-left: 0;
    }
  }
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; // workaround for IE9 bug
  margin-bottom: $spacing-unit;
  .table {
    margin-bottom: 0;
  }
  @media screen and (max-width: $viewport-sm-max) {
    width: 100%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-touch-action: cross-slide-x;
    touch-action: pan-x;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    .table {
      th,
      td {
        white-space: nowrap;
      }
    }
    // reset no padding on tables inside .table-responsive
    .table--align-left {
      padding-left: $padding-unit;
    }
  }
}


@media (min-width: $viewport-xl-min) {
  .table:not(.table--align-left) {
    tr {
      td:first-child,
      th:first-child {
        padding-left: $padding-unit + 20;
      }
      td:last-child,
      th:last-child {
        padding-right: $padding-unit + 20;
      }
    }
  }
}


// Table cell sizing
// Allow for using grid classes to set percentage widths
td,
th {
  &[class^="col-"] {
    float: none;
    margin-left: 0;
    margin-right: 0;
    position: static;
  }
}
