// Tabs
.overflow-tabs {
  position: relative;
  margin: 0 (-$padding-unit);
  max-width: calc(100% + #{$padding-unit * 2});
  .tab_item:first-child {
    margin-left: $padding-unit;
  }
}
.tabs {
  margin-bottom: $padding-unit;
  padding: 0;
  list-style-type: none;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: cross-slide-x;
  touch-action: pan-x;
  overflow: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: $viewport-md-min) {
  .tabs--sticky {
    background-color: $topbar-background;
    @supports(backdrop-filter: blur(0px)) or (-webkit-backdrop-filter: blur(0px)) {
      background-color: $topbar-background-translucent;
      -webkit-backdrop-filter: blur(10px) saturate(150%);
      backdrop-filter: blur(10px) saturate(150%);
    }
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.tab_item {
  display: inline-block;
  color: $color-gray-medium;
  cursor: pointer;
  z-index: 1;
  border-bottom: 3px solid transparent;
  line-height: 48px;
  padding-bottom: 3px;
  margin-right: $unit-base;
  font-size: $font-size-base;
  &:active,
  &:focus {
    outline: 0;
    color: $color-primary;
  }
  &.is-active {
    color: $color-primary;
    border-bottom-color: currentColor;
  }
  @media (min-width: $viewport-lg-min) {
    margin-right: $spacing-unit;
  }
}
