// Tabs
.overflow-tabs {
  position: relative;
  margin: 0 (-$padding-unit);
}
.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: cross-slide-x;
  touch-action: pan-x;
  overflow: auto;
  white-space: nowrap;
  height: $tabbar-height-sm + 16;
  .tab_item:first-child {
    margin-left: $padding-unit;
  }
  @media (min-width: $viewport-md-min) {
    height: $tabbar-height-base;
  }
}
