// Tabs
.overflow-tabs {
  position: relative;
  margin: 0 (-$padding-unit);
  max-width: calc(100% + #{$padding-unit * 2});
  .tab_item:first-child {
    margin-left: $padding-unit;
  }
}
.tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: cross-slide-x;
  touch-action: pan-x;
  overflow: auto;
  white-space: nowrap;
}

.tab_item {
  display: inline-block;
  color: $color-gray-medium;
  cursor: pointer;
  z-index: 1;
  border-bottom: 1px solid transparent;
  line-height: 48px;
  padding-bottom: 3px;
  margin-right: $padding-unit;
  &:active,
  &:focus {
    outline: 0;
    color: $topbar-color;
  }
  &.is-active {
    font-weight: $font-weight-semibold;
    color: $color-primary;
    @if $enable-css-variables {
      color: var(--primaryAppColor, $color-primary);
    }
    border-bottom-color: currentColor;
  }
  @media (min-width: $viewport-md-min) {
    margin-right: $spacing-unit;
    border-bottom: 1px solid transparent;
  }
}
