.well {
  display: block;
  background-color: $well-background;
  padding: $well-padding-y-base $well-padding-x-base;
  @include clearfix();
}

// Size modifiers
.well--lg {
  padding-top: $well-padding-y-lg;
  padding-bottom: $well-padding-y-lg;
}

// Radius modifiers
.well--rounded {
  border-radius: $well-radius;
}
.well--rounded-top {
  border-top-left-radius: $well-radius;
  border-top-right-radius: $well-radius;
}
.well--rounded-bottom {
  border-bottom-left-radius: $well-radius;
  border-bottom-right-radius: $well-radius;
}

// Border modifiers
.well--bordered {
  border-top: $well-border;
  border-bottom: $well-border;
}
.well--bordered-top {
  border-top: $well-border;
}
.well--bordered-bottom {
  border-bottom: $well-border;
}
