<div class="drawer_backdrop is-visible"></div>
<div class="drawer{{#if isVisible}} is-visible{{/if}}">
  <div class="drawer_inner{{#each inner.modifier}} drawer_inner--{{.}}{{/each}}">
    <header class="drawer_header">
      <div class="fluid-container">
        <!--TODO: Replace with button pattern -->
        <button type="button" class="btn btn--icon drawer_close">
          <svg class="icon icon--sm u-fill-muted" role="presentation">
            <use xlink:href="#close"></use>
          </svg>
        </button>
        <div class="drawer_title">{{header.title}}</div>
      </div>
    </header>
    <div class="drawer_content">
      <div class="fluid-container">
        {{#>content-slot}}
          {{render '@list'}}
        {{/content-slot}}
      </div>
    </div>
    {{#if footer}}
      <div class="drawer_footer">
        {{#>footer-slot}}{{footer.slot}}{{/footer-slot}}
      </div>
    {{/if}}
  </div>
</div>