<div class="drawer_backdrop is-visible"></div>
<div class="drawer{{#if isVisible}} is-visible{{/if}}">
  <div class="drawer_inner{{#each inner.modifier}} drawer_inner--{{.}}{{/each}}">
    <header class="drawer_header">
      <div class="fluid-container">
        <div class="drawer_title">
          {{#if header.action}}
            {{render '@button' header.action merge=true}}
          {{/if}}
          {{header.title}}
        </div>
      </div>
    </header>
    <div class="drawer_content">
      <div class="fluid-container">
        {{#>contentSlot}}
          {{render '@list'}}
          {{/contentSlot}}
      </div>
    </div>
    {{#if footer}}
      <div class="drawer_footer">
        {{#>footerSlot}}{{/footerSlot}}
      </div>
    {{/if}}
  </div>
</div>