// Overflow: hidden disables scroll
.u-overflow-hidden {
  overflow: hidden;
}
.u-overflow-x-hidden {
  overflow-x: hidden;
}
.u-overflow-y-hidden {
  overflow-y: hidden;
}

// Text Overflow
.u-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
