/* -----------------------------------------------------
 * JHA Design Language
 * -------------------------------------------------- */

/*
  Naming Convention
  ------------------------------------------------------

  Class names are losely based on the BEM naming convention.

  Block:              .component {}
  Element             .component_descendant {}
  Modifier            .component--modifier {}
  Responsive modifier .component@lg {}
  Element modifier    .component_descendant--modifier {}
  State:              .component.is-state {}
  Utility:            .u-utility-name {}

*/

// Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins/mixins';
@import 'abstracts/css-variables';

// Base
@import 'base/normalize';
@import 'base/type';
@import 'base/animation';

// Components
@import 'components/accordion';
@import 'components/avatar';
@import 'components/thumbnails';
@import 'components/badges';
@import 'components/buttons';
@import 'components/button-groups';
@import 'components/wells';
@import 'components/date';
@import 'components/dialogs';
@import 'components/drawer';
@import 'components/pagination';
@import 'components/forms';
@import 'components/input-groups';
@import 'components/icons';
@import 'components/dropdowns';
@import 'components/app-list';
@import 'components/search';
@import 'components/tables';
@import 'components/tabs';
@import 'components/timeline';
@import 'components/toasts';
@import 'components/tooltips';
@import 'components/lists';
@import 'components/filters';
@import 'components/cards';
@import 'components/sortable';
@import 'components/gallery';
@import 'components/progress-indicators';
@import 'components/errors';
@import 'components/message';
@import 'components/help';

// Layout
@import 'layout/grid';
@import 'layout/navigation';
@import 'layout/page-header';
@import 'layout/viewport';
@import 'layout/build-mode';
@import 'layout/content';
@import 'layout/login';
@import 'layout/sticky';

// Vendors
@import 'vendors/angular';
@import 'vendors/angular-ui';
@import 'vendors/highcharts';
@import 'vendors/loading-bar';
@import 'vendors/angular-growl';
@import 'vendors/datepicker';

// Shame
@import 'hacks';

// Utilities
@import 'base/utilities/color';
@import 'base/utilities/accessibility';
@import 'base/utilities/floats';
@import 'base/utilities/overflow';
@import 'base/utilities/spacing';
@import 'base/utilities/responsive-visibility';
@import 'base/utilities/motion';
