.badge {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  height: 20px;
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: $badge-background-color;
  color: $badge-text-color;
  font-size: $badge-font-size;
  font-weight: normal;
  border-radius: 10px;
}

.badge--primary {
  background-color: $badge-color-primary;
}
.badge--success {
  background-color: $badge-color-success;
}
.badge--danger {
  background-color: $badge-color-danger;
}
.badge--warning {
  background-color: $badge-color-warning;
}
