<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{path styles}}">
</head>

<body style="padding:0; background-color:#fff;">
  {{#> body}}
    {{{yield}}}
  {{/body}}
  <!-- load up our svg icons from either localStorage or via XHR -->
  <script src="{{path '/scripts/icons.js'}}" async data-load-icons="{{path '/images/icons.svg'}}"></script>
</body>

</html>