<!--TODO: Create standard preview styles -->
<!--TODO: Consolidate this with standard jha-content preview -->
{{#>@jha}}
  {{#*inline 'body'}}
    <div style="padding:1rem;background-color:gray;">
      {{{yield}}}
    </div>
    {{/inline}}
    {{/@jha}}