@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-up {
  from {
    -webkit-transform: translateY(25vh);
    transform: translateY(25vh);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-in-up {
  from {
    transform: translateY(25vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-up {
  from {
    transform: translateY(25vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-out {
  from {
    -webkit-transform: scale(0.0);
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@-moz-keyframes scale-out {
  from {
    transform: scale(0.0);
  }
  to {
    transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes scale-out {
  from {
    transform: scale(0.0);
  }
  to {
    transform: scale(1.0);
    opacity: 0;
  }
}
