/* -----------------------------------------------------
 * JHA Design Language
 * -------------------------------------------------- */

/*
  Naming Convention
  ------------------------------------------------------

  Class names are losely based on the BEM naming convention.

  Block:              .component {}
  Element             .component_descendant {}
  Modifier            .component--modifier {}
  Responsive modifier .component@lg {}
  Element modifier    .component_descendant--modifier {}
  State:              .component.is-state {}
  Utility:            .u-utility-name {}

*/


@import
  "variables",
  "mixins/mixins",
  "normalize",
  "fonts",
  "type",

  // components
  "components/avatar",
  "components/thumbnails",
  "components/badges",
  "components/buttons",
  "components/button-groups",
  "components/dialogs",
  "components/pagination",
  "components/contact",
  "components/forms",
  "components/input-groups",
  "components/icons",
  "components/dropdowns",
  "components/app-list",
  "components/search.scss",
  "components/tables",
  "components/tabs",
  "components/timeline",
  "components/toasts",
  "components/tooltips",
  "components/lists",
  "components/filters",
  "components/cards",
  "components/gallery",
  "components/progress-indicators",
  "components/errors",

  // layout
  "layout/grid",
  "layout/navigation",
  "layout/content",
  "layout/profile",

  // plugins
  "plugins/angular",
  "plugins/angular-ui",
  "plugins/highcharts",
  "plugins/loading-bar",
  "plugins/angular-growl",

  // everything else
  "animation",
  "utilities"
;
