@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-lightitalic.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-lightitalic.woff2') format('woff2'),
       url('#{$font-path}/pn-lightitalic.woff') format('woff'),
       url('#{$font-path}/pn-lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-light.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-light.woff2') format('woff2'),
       url('#{$font-path}/pn-light.woff') format('woff'),
       url('#{$font-path}/pn-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-regular.woff2') format('woff2'),
       url('#{$font-path}/pn-regular.woff') format('woff'),
       url('#{$font-path}/pn-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-regularitalic.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-regularitalic.woff2') format('woff2'),
       url('#{$font-path}/pn-regularitalic.woff') format('woff'),
       url('#{$font-path}/pn-regularitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-semibold.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-semibold.woff2') format('woff2'),
       url('#{$font-path}/pn-semibold.woff') format('woff'),
       url('#{$font-path}/pn-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('#{$font-path}/pn-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/pn-semibolditalic.woff2') format('woff2'),
         url('#{$font-path}/pn-semibolditalic.woff') format('woff'),
         url('#{$font-path}/pn-semibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-bolditalic.woff2') format('woff2'),
       url('#{$font-path}/pn-bolditalic.woff') format('woff'),
       url('#{$font-path}/pn-bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-bold.woff2') format('woff2'),
       url('#{$font-path}/pn-bold.woff') format('woff'),
       url('#{$font-path}/pn-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
