@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-li.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-li.woff2') format('woff2'),
       url('#{$font-path}/pn-li.woff') format('woff'),
       url('#{$font-path}/pn-li.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-l.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-l.woff2') format('woff2'),
       url('#{$font-path}/pn-l.woff') format('woff'),
       url('#{$font-path}/pn-l.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-r.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-r.woff2') format('woff2'),
       url('#{$font-path}/pn-r.woff') format('woff'),
       url('#{$font-path}/pn-r.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-ri.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-ri.woff2') format('woff2'),
       url('#{$font-path}/pn-ri.woff') format('woff'),
       url('#{$font-path}/pn-ri.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-s.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-s.woff2') format('woff2'),
       url('#{$font-path}/pn-s.woff') format('woff'),
       url('#{$font-path}/pn-s.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src: url('#{$font-path}/pn-si.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/pn-si.woff2') format('woff2'),
         url('#{$font-path}/pn-si.woff') format('woff'),
         url('#{$font-path}/pn-si.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-bi.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-bi.woff2') format('woff2'),
       url('#{$font-path}/pn-bi.woff') format('woff'),
       url('#{$font-path}/pn-bi.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('#{$font-path}/pn-b.eot?#iefix') format('embedded-opentype'),
       url('#{$font-path}/pn-b.woff2') format('woff2'),
       url('#{$font-path}/pn-b.woff') format('woff'),
       url('#{$font-path}/pn-b.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
