// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  position: relative;
  line-height: 1.1;
  color: $heading-color;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 24px;
  margin-bottom: 12px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 12px;
  margin-bottom: 12px;
}

h1, .h1 {
  font-size: $h1-size;
  font-weight: $h1-weight;
}
h2, .h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
}
h3, .h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
}
h4, .h4 {
  font-size: $h4-size;
  font-weight: $h4-weight;
}
h5, .h5 {
  font-size: $h5-size;
  font-weight: $h5-weight;
}
h6, .h6 {
  font-size: $h6-size;
  font-weight: $h6-weight;
  text-transform: uppercase;
}

// Type display classes
.display-1,
.display-2,
.display-3,
.display-4 {
  color: $display-color;
}
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
}
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
}
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
}

p, .p {
  margin: 0 0 $padding-unit;
}
ul, .ul {
  margin-top: 0;
  margin-bottom: $padding-unit;
}
.ul > li {
  margin-bottom: $unit-xs;
}


// Section titles
.heading {
  color: $text-color-light;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $font-size-base - 2;
}

.section-title {
  color: $title-color;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: $unit-xs;
}

.section-heading {
  color: $text-color-light;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $font-size-base - 2;
  padding-top: 20px;
  padding-bottom: 8px;
  background-color: #f5f6f8;
  padding-left: $padding-unit;
}
.section-heading--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.section-heading_link {
  text-transform: none;
  font-size: $font-size-base;
  font-weight: normal;
  float: right;
}



.title {
  color: $title-color;
  font-weight: $title-weight-base;
  font-size: $title-size;
}
.title--xs {
  font-size: $title-size-xs;
}
.title--sm {
  font-size: $title-size-sm;
}
.title--lg {
  font-size: $title-size-lg;
  @if ($title-weight-base != $title-weight-lg) {
    font-weight: $title-weight-lg;
  }
}
.sub-title {
  color: $sub-title-color;
  font-size: $sub-title-size;
}

/* Wrap your paragraphs and headings with .copy */
.copy {
  /* max-width enforces a maximum number of characters per line for readability */
  max-width: $copy-max-width;
}


// Text size
.text--lg {
  font-size: $font-size-lg;
}
.text--md {
  font-size: $font-size-md;
}
.text--sm {
  font-size: $font-size-sm;
}


// Color
.text--dark {
  color: $text-color-dark;
}
.text--base {
  color: $text-color-base;
}
.text--light {
  color: $text-color-light;
}
.text--muted {
  color: $text-color-muted;
}
.text--primary {
  color: $color-primary;
  @if $enable-css-variables {
    color: var(--primaryAppColor, $color-primary);
  }
}
.text--success {
  color: $color-success;
}
.text--danger {
  color: $color-danger;
}
.text--warning {
  color: $color-warning;
}

// Align
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--justify {
  text-align: justify;
}

// Transform
.text--uppercase {
  text-transform: uppercase;
}
.text--lowercase {
  text-transform: lowercase;
}
.text--capitalize {
  text-transform: capitalize;
}

// Weight
.text--thin {
  font-weight: $font-weight-light;
}
.text--regular {
  font-weight: $font-weight-normal;
}
.text--medium {
  font-weight: $font-weight-medium;
}
.text--semibold {
  font-weight: $font-weight-semibold;
}
.text--bold {
  font-weight: $font-weight-bold;
}

// Text Overflow
.u-ellipsis, // deprecated
.text--ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text--wrap {
  @include word-wrap();
}

// Stats
.stat {
  white-space: nowrap;
  margin-bottom: $unit-sm;
  @media (min-width: $viewport-md-min) {
    margin-bottom: 0;
  }
  .sub-title {
    margin-bottom: 6px;
  }
  .icon {
    margin-bottom: 3px;
  }
}
.stat--center {
  text-align: center;
}
.stat--bordered-left {
  border-left: $border-lt;
}
.stat--bordered-right {
  border-right: $border-lt;
}

.stat_value {
  font-size: 30px;
  color: $text-color-dark;
  font-weight: 300;
  &:empty::before {
    content: '--';
  }
}
.stat_comparison {
  font-size: $font-size-base + 1;
  color: $text-color-muted;
  margin-left: 2px;
  white-space: nowrap;
  svg {
    margin-left: -5px;
  }
}
