// Headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  position: relative;
  line-height: 1.1;
  font-weight: $heading-weight;
  color: $heading-color;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 24px;
  margin-bottom: 12px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 12px;
  margin-bottom: 12px;
}

h1,
.h1 {
  font-size: $h1-size;
}
h2,
.h2 {
  font-size: $h2-size;
}
h3,
.h3 {
  font-size: $h3-size;
}
h4,
.h4 {
  font-size: $h4-size;
}
h5,
.h5 {
  font-size: $h5-size;
}
h6,
.h6 {
  font-size: $h6-size;
  text-transform: uppercase;
}

p,
.p {
  margin: 0 0 $padding-unit;
}
ul,
.ul {
  margin-top: 0;
  margin-bottom: $padding-unit;
}
.ul > li {
  margin-bottom: $unit-xs;
}


// Section titles
.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: $unit-xs;
}

.section-heading {
  color: $text-color-light;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $font-size-base - 1;
  padding-top: $unit-sm;
  padding-bottom: $unit-xs;
  background-color: $color-gray-lighter;
  text-align: center;
}
.section-heading_link {
  text-transform: none;
  font-size: $font-size-base;
  font-weight: normal;
  float: right;
}

.title {
  color: $text-color-dark;
  font-weight: normal;
  font-size: $font-size-lg;
}
.title--xs {
  font-size: $font-size-base;
}
.title--sm {
  font-size: $font-size-lg - 1;
}
.title--lg {
  font-size: $font-size-lg + 2;
}
.sub-title {
  color: $text-color-light;
  font-size: $font-size-base - 1;
}

/* Wrap your paragraphs and headings with .copy */
.copy {
  /* max-width enforces a maximum number of characters per line for readability */
  max-width: 700px;
}


// Text size
.text--lg {
  font-size: $font-size-lg;
}
.text--sm {
  font-size: $font-size-sm;
}


// Color
.text--dark {
  color: $text-color-dark;
}
.text--base {
  color: $text-color-base;
}
.text--light {
  color: $text-color-light;
}
.text--muted {
  color: $text-color-muted;
}
.text--primary {
  color: $color-primary;
}
.text--success {
  color: $color-success;
}
.text--danger {
  color: $color-danger;
}

// Align
.text--left {
  text-align: left;
}
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}
.text--justify {
  text-align: justify;
}



// Stats
.stat {
  white-space: nowrap;
  margin-bottom: $unit-sm;
  @media (min-width: $viewport-md-min) {
    margin-bottom: 0;
  }
}
.stat--center {
  text-align: center;
}
.stat_value {
  font-size: 30px;
  color: $text-color-dark;
  font-weight: 300;
  &:empty:before {
    content: '--';
  }
}
.stat_comparison {
  font-size: $font-size-base + 1;
  color: $text-color-muted;
  margin-left: 2px;
  white-space: nowrap;
  svg {
    margin-left: -5px;
  }
}
