// Headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  position: relative;
  line-height: 1.1;
  font-weight: $heading-weight;
  margin: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 24px;
  margin-bottom: 12px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.h1 {
  font-size: $h1-size;
}
.h2 {
  font-size: $h2-size;
}
.h3 {
  font-size: $h3-size;
}
.h4 {
  font-size: $h4-size;
  font-weight: 600;
}
.h5 {
  font-size: $h5-size;
}
.h6 {
  font-size: $h6-size;
}

p {
  margin: 0 0 12px;
}
ul {
  margin-top: 0;
  margin-bottom: 12px;
}


// Section titles
.section-title {
  color: $color-primary;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: $padding-unit;
  @media (min-width: $viewport-md-min) {
    margin-bottom: $unit-base;
  }
}

.section-heading {
  color: $text-color-muted;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $font-size-base - 1;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: $border-lt;
  margin-bottom: $padding-unit / 2;
}
.section-heading--sticky {
  background-color: #fff;
  @include sticky;
  top: $topbar-height-sm;
  z-index: $z-index-sticky;
  .standalone & {
    top: $topbar-height-standalone;
  }
  @media (min-width: $viewport-md-min) {
    top: $topbar-height-base;
  }
}
.section-heading--gutter {
  margin-right: -$padding-unit;
  padding-right: $padding-unit;
  @media (min-width: $viewport-md-min) {
    margin-right: -$unit-base;
    padding-right: $unit-base;
  }
}
.section-heading_link {
  text-transform: none;
  font-size: $font-size-base;
  font-weight: normal;
  float: right;
}

.title {
  color: $text-color-base;
  font-weight: 600;
  font-size: $font-size-lg;
}
.sub-title {
  color: $text-color-muted;
  font-size: $font-size-base - 1;
}

/* Wrap your paragraphs and headings with .copy */
.copy {
  /* max-width enforces a maximum number of characters per line for readability */
  max-width: 700px;
}
.copy--spacing {
  margin-bottom: $spacing-unit;
}


// Text size
.text--lg {
  font-size: $font-size-lg;
}
.text--sm {
  font-size: $font-size-sm;
}


// Color
.text--base {
  color: $text-color-base;
}
.text--light {
  color: $text-color-light;
}
.text--muted {
  color: $text-color-muted;
}
.text--primary {
  color: $color-primary;
}
.text--success {
  color: $color-success;
}
.text--danger {
  color: $color-danger;
}



// Stats
.stat {
  white-space: nowrap;
  margin-bottom: $unit-sm;
  @media (min-width: $viewport-md-min) {
    margin-bottom: 0;
  }
}
.stat--center {
  text-align: center;
}
.stat_value {
  font-size: 30px;
  color: $color-primary;
}
.stat_comparison {
  font-size: $font-size-base + 1;
  color: $text-color-muted;
  margin-left: 2px;
  white-space: nowrap;
  svg {
    margin-left: -5px;
  }
}
