// All things floats
.u-float-left {
  float: left;
}
.u-float-right {
  float: right;
}
.u-clearfix {
  @include clearfix();
}

// Overflow: hidden disables scroll
.u-overflow-hidden {
  overflow: hidden;
}
.u-overflow-x-hidden {
  overflow-x: hidden;
}
.u-overflow-y-hidden {
  overflow-y: hidden;
}

// Text Overflow
.u-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Toggling content
.u-shown {
  display: block !important;
}

.u-hidden {
  display: none !important;
  visibility: hidden !important;
}

.u-invisible {
  visibility: hidden;
}

// Only display content to screen readers
.accessibility-aid {
  &:focus,
  &:active {
    position: absolute !important;
    line-height: 48px;
    padding: 0 6px;
    font-weight: 600;
    background-color: rgba(#fff, 0.6);
  }
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.u-sr-only--focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}


// Color utilities
.u-fill-primary {
  fill: $color-primary;
}
.u-fill-success {
  fill: $color-success;
}
.u-fill-danger {
  fill: $color-danger;
}
.u-fill-warning {
  fill: $color-warning;
}
.u-fill-base {
  fill: $text-color-base;
}
.u-fill-muted {
  fill: $text-color-muted;
}
.u-fill-neutral {
  fill: $color-neutral;
}


// Vertical rhythm
.u-vertical-rhythm--xs {
  margin-bottom: $unit-xs;
}
.u-vertical-rhythm--sm {
  margin-bottom: $unit-sm;
}
.u-vertical-rhythm,
.u-vertical-rhythm--md {
  margin-bottom: $padding-unit;
}
.u-vertical-rhythm--lg {
  margin-bottom: $unit-base;
}
.u-vertical-rhythm--xl {
  margin-bottom: $spacing-unit;
}



// Responsive utilities
@-ms-viewport {
  width: device-width;
}

@include responsive-invisibility('.u-visible', 'xs');
@include responsive-invisibility('.u-visible', 'sm');
@include responsive-invisibility('.u-visible', 'md');
@include responsive-invisibility('.u-visible', 'lg');
@include responsive-invisibility('.u-visible', 'mobile');

@media (max-width: $viewport-xs-max) {
  @include responsive-visibility('.u-visible', 'xs');
}

@media (min-width: $viewport-sm-min) and (max-width: $viewport-sm-max) {
  @include responsive-visibility('.u-visible', 'sm');
}

@media (min-width: $viewport-md-min) and (max-width: $viewport-md-max) {
  @include responsive-visibility('.u-visible', 'md');
}

@media (min-width: $viewport-lg-min) {
  @include responsive-visibility('.u-visible', 'lg');
}

// Device shortcuts
.u-visible\@mobile {
  @media (max-width: $viewport-sm-max) {
    display: block !important;
  }
}

@media (max-width: $viewport-sm-max) {
  @include responsive-invisibility('.u-hidden', 'mobile');
}


@media (max-width: $viewport-xs-max) {
  @include responsive-invisibility('.u-hidden', 'xs');
}
@media (min-width: $viewport-sm-min) and (max-width: $viewport-sm-max) {
  @include responsive-invisibility('.u-hidden', 'sm');
}
@media (min-width: $viewport-md-min) and (max-width: $viewport-md-max) {
  @include responsive-invisibility('.u-hidden', 'md');
}
@media (min-width: $viewport-lg-min) {
  @include responsive-invisibility('.u-hidden', 'lg');
}
