// Opt-in or out of features and components
$enable-normalize:          true !default;
$enable-fonts:              true !default;
$enable-type:               true !default;
// components
$enable-avatars:            true !default;
$enable-thumbnails:         true !default;
$enable-badges:             true !default;
$enable-buttons:            true !default;
$enable-button-groups:      true !default;
$enable-wells:              true !default;
$enable-dialogs:            true !default;
$enable-drawers:            true !default;
$enable-pagination:         true !default;
$enable-forms:              true !default;
$enable-help:               true !default;
$enable-input-groups:       true !default;
$enable-icons:              true !default;
$enable-dropdowns:          true !default;
$enable-app-list:           true !default;
$enable-search:             true !default;
$enable-tables:             true !default;
$enable-tabs:               true !default;
$enable-timelines:          true !default;
$enable-toasts:             true !default;
$enable-tooltips:           true !default;
$enable-lists:              true !default;
$enable-filters:            true !default;
$enable-cards:              true !default;
$enable-sortable:           true !default;
$enable-gallery:            true !default;
$enable-progress:           true !default;
$enable-errors:             true !default;
$enable-messages:           true !default;
// layout
$enable-grid:               true !default;
$enable-navigation:         true !default;
$enable-build-mode:         true !default;
$enable-content:            true !default;
$enable-profile:            true !default;
// utilities
$enable-accessibility:      true !default;
$enable-floats:             true !default;
$enable-overflow:           true !default;
$enable-spacing:            true !default;
$enable-color:              true !default;
$enable-visibility:         true !default;
$enable-motion:             true !default;
// everything else
$enable-hacks:              true !default;
$enable-plugins:            true !default;


// Color
$color-blue:                #3aaeda !default;
$color-green:               #67bd48 !default;
$color-red:                 #fb6b5b !default;
$color-yellow:              #ffac52 !default;
$color-purple:              #7b75cb !default;
$color-teal:                #4cc0c1 !default;

$color-primary:             $color-blue !default;
$color-success:             $color-green !default;
$color-danger:              $color-red !default;
$color-warning:             $color-yellow !default;

$color-gray-lighter:        #eef1f4 !default;
$color-gray-light:          #e4e7ea !default;
$color-gray-medium:         #8d99a0 !default;
$color-gray-base:           #455564 !default;
$color-gray-dark:           #25313E !default;

$color-neutral:             $color-gray-medium !default;

$background-color:          #f1f3f5 !default;

$text-color-light:          #8c989f !default;
$text-color-base:           #6b757b !default;
$text-color-dark:           $color-gray-base !default;
$text-color-muted:          #b3bfc9 !default;

$link-color-base:           $color-primary !default;


// Typography
$font-path:                 "../fonts" !default;
// by default, lets use San Francisco by Apple for iOS and Safari on OS X El Capitan and iOS 9+
// this typeface provides a reasonable fallback and prevents web font loading to make for a faster app
$font-family-base:          -apple-system, proxima-nova, BlinkMacSystemFont, "Helvetica Neue", sans-serif !default;

$font-size-base:            14px !default;
$font-size-sm:              floor(($font-size-base * 0.875)) !default;
$font-size-lg:              ($font-size-base + 2) !default;

$line-height-base:          1.428571429 !default;
$line-height-computed:      floor(($font-size-base * $line-height-base)) !default;

$heading-color:             $color-gray-base !default;
$h1-size:                   24px !default;
$h2-size:                   21px !default;
$h3-size:                   18px !default;
$h4-size:                   16px !default;
$h5-size:                   15px !default;
$h6-size:                   14px !default;

$h1-weight:                 600 !default;
$h2-weight:                 600 !default;
$h3-weight:                 600 !default;
$h4-weight:                 600 !default;
$h5-weight:                 600 !default;
$h6-weight:                 600 !default;

$display-color:             $color-gray-base !default;
$display1-size:             36px !default;
$display2-size:             32px !default;
$display3-size:             28px !default;
$display4-size:             20px !default;

$display1-weight:           300 !default;
$display2-weight:           300 !default;
$display3-weight:           300 !default;
$display4-weight:           400 !default;


$title-color:               $text-color-dark !default;
$title-weight-base:         normal !default;
$title-weight-lg:           normal !default;
$title-size:                $font-size-lg !default;
$title-size-xs:             $font-size-base !default;
$title-size-sm:             $font-size-lg - 1 !default;
$title-size-lg:             $font-size-lg + 2 !default;

$sub-title-color:           $text-color-light !default;
$sub-title-size:            $font-size-base - 1 !default;

$copy-max-width:            700px !default;


// Spacing units
$unit-xs:                   6px !default;
$unit-sm:                   12px !default;
$unit-base:                 24px !default;
$spacing-unit:              32px !default;
$padding-unit:              16px !default;

$spacing:                   $padding-unit !default;
$spacing-y:                 $spacing !default;
$spacing-x:                 $spacing !default;

$spacing-sm:                $padding-unit / 2 !default;
$spacing-y-sm:              $spacing-sm !default;
$spacing-x-sm:              $spacing-sm !default;

$spacing-lg:                $unit-base !default;
$spacing-y-lg:              $spacing-lg !default;
$spacing-x-lg:              $spacing-lg !default;

$spacing-xl:                $spacing-unit !default;
$spacing-y-xl:              $spacing-xl !default;
$spacing-x-xl:              $spacing-xl !default;

// Grid system
$grid-columns:              12 !default;
$grid-gutter-width:         $spacing-unit !default;
$grid-gutter-width-tight:   16px !default;
$column-width-max:          1170px !default;


// Normalized media queries
$viewport-xs-min:           360px !default;
$viewport-sm-min:           480px !default;
$viewport-md-min:           736px !default;
$viewport-lg-min:           992px !default;
$viewport-xl-min:           1200px !default;

$viewport-xs-max:           ($viewport-sm-min - 1) !default;
$viewport-sm-max:           ($viewport-md-min - 1) !default;
$viewport-md-max:           ($viewport-lg-min - 1) !default;
$viewport-lg-max:           ($viewport-xl-min - 1) !default;


// Transitions
$timing-function:           cubic-bezier(.1,.5,.1,1) !default;


// Borders
$border-base:               1px solid $color-gray-light !default;
$border-lt:                 1px solid $color-gray-lighter !default;
$border-radius-base:        3px !default;
$faux-border-color:         #d8e1eb !default;;


// Z-index
$z-index-toast:             1060 !default;
$z-index-dialog:            1050 !default;
$z-index-help:              1050 !default;
$z-index-drawer:            1038 !default;
$z-index-action-toolbar:    1030 !default;
$z-index-topbar:            1020 !default;
$z-index-dropdown:          1010 !default;
$z-index-sticky:            1000 !default;


// Shadow depth for shadow-depth mixin
$shadow-ambient:            0 1px 1px rgba(#000, 0.2) !default;
$shadow-ambient-nav:        0 9px 9px rgba(#000, 0.18), 0 6px 3px rgba(#000, 0.24) !default;
$shadow-key-light:          0 19px 19px rgba(#000, 0.3), 0 15px 6px rgba(#000, 0.22) !default;


// Topbar
$topbar-fixed:              true !default;
$topbar-height-base:        70px !default;
$topbar-height-sm:          44px !default;
$topbar-background:         #fff !default;
$topbar-color:              $text-color-dark !default;
$topbar-link-color:         rgba($text-color-dark, 0.6) !default;
$topbar-link-color-focus:   rgba($text-color-dark, 1) !default;

$topbar-background-inverse: #2d4057 !default;
$topbar-color-inverse:      #fff !default;
$topbar-link-color-inverse: rgba(#fff, 0.6) !default;
$topbar-link-color-focus-inverse: #fff !default;

$tabbar-height-base:        70px !default;
$tabbar-height-sm:          49px !default;
$tabbar-shadow:             0 0 3px rgba($color-gray-dark, 0.24) !default;

$toolbar-height-base:       70px !default;
$toolbar-background:        #fff !default;
$toolbar-border:            1px solid rgba(0,0,0,0.05) !default;
$toolbar-shadow:            0 0 5px rgba(0,0,0,0.1) !default;
$toolbar-padding:           20px !default;

$toolbar-button-right:      16px !default;
$toolbar-button-top:        $toolbar-button-right !default;

// Build mode
$build-mode-background:       $color-gray-light !default;
$build-mode-panel-background: #fff !default;
$build-mode-panel-width:      375px !default;
$build-mode-panel-width-min:  250px !default;
$build-mode-panel-shadow:     0 -5px 6px rgba(0,0,0,.16),0 0 1px 0 rgba(0,0,0,.08) !default;
$build-mode-title-font-size:  20px !default;


// Buttons
$btn-padding-vertical:      0 !default;
$btn-padding-horizontal:    18px !default;
$btn-border-radius-base:    $border-radius-base !default;

$btn-text-transform:        none !default;
$btn-text-color-base:       $text-color-base !default;
$btn-icon-fill-color:       inherit !default;
$btn-font-size-base:        $font-size-base !default;
$btn-font-weight:           400 !default;

$btn-line-height-base:      34px !default;
$btn-height-base:           36px !default;
$btn-line-height-sm:        28px !default;
$btn-height-sm:             30px !default;
$btn-line-height-lg:        48px !default;
$btn-height-lg:             50px !default;

$btn-default-background:    #fff !default;
$btn-primary-background:    $color-primary !default;
$btn-success-background:    $color-success !default;
$btn-danger-background:     $color-danger !default;
$btn-neutral-background:    $color-gray-lighter !default;

$btn-focus-shadow:          inset 0 1px 2px rgba(0,0,0,0.08) !default;
$btn-disabled-opacity:      0.7 !default;

$btn-toggle-color:          $text-color-light !default;
$btn-toggle-transform:      uppercase !default;
$btn-toggle-font-size:      13px !default;
$btn-toggle-weight:         600 !default;
$btn-toggle-active-color:   $color-primary !default;


// Avatars
$avatar-background-color:   transparent !default;
$avatar-radius:             50% !default;
$avatar-size-xs:            24px !default;
$avatar-size-sm:            36px !default;
$avatar-size-base:          48px !default;
$avatar-size-lg:            72px !default;
$avatar-size-xl:            96px !default;

$avatar-badge-size:         20px !default;
$avatar-badge-background-color: #fff !default;


// Badge & Chips
$badge-background-color:    $text-color-muted !default;
$badge-font-size:           $font-size-sm !default;
$badge-text-color:          #fff !default;

$chip-background-color:     $text-color-muted !default;
$chip-font-size:            $font-size-base - 1 !default;
$chip-text-color:           #fff !default;

$badge-color-primary:       $color-primary !default;
$badge-color-success:       $color-success !default;
$badge-color-warning:       $color-warning !default;
$badge-color-danger:        $color-danger !default;


// Thumbnails
$thumbnail-radius:          2px !default;
$thumbnail-size-xs:         24px !default;
$thumbnail-size-sm:         36px !default;
$thumbnail-size-base:       48px !default;
$thumbnail-size-lg:         72px !default;
$thumbnail-size-xl:         96px !default;


// Page header
$page-header-font-size:     24px !default;
$page-header-weight:        400 !default;


// Cards
$card-background-color:     #fff !default;
$card-shadow:               0 1px 1px 0 rgba($color-gray-dark, 0.24), 0 1px 2px rgba($color-gray-dark, 0.12) !default;
$card-radius:               2px !default;
$card-max-width:            550px !default;
$card-margin-bottom-base:   $padding-unit !default;
$card-margin-bottom-lg:     $padding-unit * 2 !default;
$card-spacing-left-base:    $padding-unit !default;
$card-spacing-left-lg:      $unit-base !default;
$card-item-margin-bottom:   $spacing-unit * 1.5 !default;

$card-header-padding-base:  $padding-unit $padding-unit $unit-sm 0 !default;
$card-header-padding-lg:    $unit-base $unit-base $padding-unit 0 !default;
$card-header-line-height:   $h2-size !default;

$card-title-color:          $text-color-dark !default;
$card-title-size:           20px !default;
$card-title-weight:         400 !default;

$card-sub-title-color:      $text-color-light !default;
$card-sub-title-size:       $font-size-base - 1 !default;

$card-content-padding-sm:   ($padding-unit / 2) ($padding-unit / 2) ($padding-unit / 2) 0 !default;
$card-content-padding-base: $padding-unit $padding-unit $padding-unit 0 !default;
$card-content-padding-lg:   $padding-unit $unit-base $padding-unit 0 !default;

$card-empty-padding:        70px 0 90px !default;
$card-empty-color:          $text-color-light !default;

$card-footer-padding-base:  $unit-sm $padding-unit $unit-sm 0 !default;
$card-footer-padding-lg:    $unit-sm $unit-base $unit-sm 0 !default;
$card-footer-alignment:     right !default;

$card-media-background:     $color-gray-medium !default;

$card-hr-right-offset-base: -$padding-unit !default;
$card-hr-right-offset-lg:   -$unit-base !default;


// Drawers
$drawer-background:         #fff !default;
$drawer-backdrop-color:     $color-gray-dark !default;
$drawer-backdrop-opacity:   0.6 !default;
$drawer-shadow:             0 0 24px rgba($color-gray-dark, 0.24), 0 0 12px rgba($color-gray-dark, 0.12) !default;

$drawer-edge-offset:        56px !default;
$drawer-max-width-sm:       360px !default;
$drawer-max-width-md:       400px !default;
$drawer-max-width-lg:       calc(76vw - ((100vw - #{$column-width-max}) / 2)) !default;


// Dialogs
$dialog-width-base:         550px !default;
$dialog-width-lg:           900px !default;
$dialog-background:         #fff !default;
$dialog-radius:             2px !default;
$dialog-shadow:             0 3px 12px 0 rgba($color-gray-dark, 0.24), 0 3px 24px rgba($color-gray-dark, 0.12) !default;

$dialog-backdrop-color:     $color-gray-dark !default;
$dialog-backdrop-opacity:   0.6 !default;


// Dropdowns
$dropdown-background-color: #fff !default;
$dropdown-border-color:     rgba($color-gray-base, 0.12) !default;
$dropdown-width-min:        240px !default;
$dropdown-width-max:        300px !default;
$dropdown-box-shadow:       0 1px 4px 0 rgba($color-gray-dark, 0.24), 0 1px 3px rgba($color-gray-dark, 0.12) !default;
$dropdown-radius:           2px !default;

$dropdown-title-color:      $color-gray-dark !default;
$dropdown-title-font-size:  $font-size-lg !default;
$dropdown-title-line-height: 1 !default;

$dropdown-divider-color:    $color-gray-lighter !default;
$dropdown-item-font-size:   $font-size-base - 1 !default;
$dropdown-item-color:       $text-color-base !default;
$dropdown-item-hover-color: $text-color-dark !default;
$dropdown-item-hover-background: $color-gray-lighter !default;


// Filters
$filter-color:              $text-color-base !default;
$filter-focus-color:        $text-color-dark !default;


// Forms
$field-height:              40px !default;
$fieldset-color:            $color-gray-base !default;


// Progress indicators
// Circular
$progress-circular-speed:   0.75s !default;
$progress-circular-thickness-base: 2px !default;
$progress-circular-thickness-sm: 2px !default;
$progress-circular-size-base: 30px !default;
$progress-circular-size-sm: 16px !default;
$progress-circular-color:   $text-color-muted !default;

// Linear
$progress-linear-color:     $color-green !default;
$progress-linear-height:    8px !default;
$progress-linear-radius:    2px !default;
$progress-linear-width:     180px !default;


// Gallery
$gallery-selected-color:    $color-primary !default;
$gallery-item-background:   transparent !default;
$gallery-item-color:        #fff !default;
$gallery-item-font-size:    $font-size-sm !default;
$gallery-overlay-color:     rgba($color-gray-dark, 0.6) !default;
$gallery-item-height:       140px !default;


// Help launcher
$help-launcher-background:  $color-gray-dark !default;
$help-launcher-opacity-default: 0.8 !default;
$help-launcher-opacity-hover:   0.9 !default;

// Icons
$icon-size-xs:              14px !default;
$icon-size-sm:              18px !default;
$icon-size-base:            24px !default;
$icon-size-lg:              36px !default;
$icon-size-xl:              60px !default;
$icon-fill-color:           currentColor !default;


// Lists
$list-margin-bottom-base:   $unit-xs !default;
$list-margin-bottom-lg:     $unit-sm !default;

$list-item-padding-left-base: $card-spacing-left-base !default;
$list-item-padding-left-lg: $card-spacing-left-lg !default;

$list-item-padding-top-base:    $padding-unit !default;
$list-item-padding-bottom-base: $padding-unit !default;

$list-item-padding-top-xs:      4px !default;
$list-item-padding-bottom-xs:   4px !default;

$list-item-padding-top-sm:      $padding-unit / 2 !default;
$list-item-padding-bottom-sm:   $padding-unit / 2 !default;

$list-item-padding-right-base: $padding-unit !default;
$list-item-padding-right-lg: $unit-base !default;

$list-item-color:           $text-color-base !default;
$list-item-focus-outline:   1px solid $color-primary !default;
$list-item-hover-color:     $list-item-color !default;
$list-item-hover-background: rgba(#f1f3f5, .5) !default;
$list-item-active-color:    $color-primary !default;
$list-item-active-weight:   600 !default;

$list-item-font-size:       $font-size-base !default;
$list-item-action-width:    $icon-size-sm !default;

$list-heading-color:        $text-color-light !default;
$list-heading-transform:    uppercase !default;
$list-heading-padding-top:  24px !default;
$list-heading-padding-bottom: 8px !default;
$list-heading-margin-bottom: 8px !default;
$list-heading-font-size:    $font-size-base - 1 !default;
$list-heading-weight:       600 !default;
$list-heading-border-color: $color-gray-light !default;

$list-item-muted-font-style: italic !default;
$list-item-muted-opacity:   0.6 !default;
$list-item-muted-opacity-hover: 1 !default;

$list-divider-margin-top:   8px !default;
$list-divider-margin-bottom: $list-divider-margin-top !default;


// Message
$message-border-color:      $color-gray-light !default;
$message-padding-top-sm:    16px !default;
$message-padding-bottom-sm: 16px !default;
$message-padding-top-lg:    32px !default;
$message-padding-bottom-lg: 32px !default;
$message-date-color:        $text-color-light !default;
$message-date-font-size:    13px !default;

$message-note-background:   #fff8ea !default;
$message-note-border-color: #f4e9ce !default;
$message-note-color:        #70695b !default;
$message-note-date-color:   #9c9587 !default;
$message-note-heading-color: #585143 !default;


// Pagination
$pagination-button-class:   '.btn--default' !default;
$pagination-active-background: $color-primary !default;
$pagination-active-color:   #fff !default;
$pagination-min-width:      44px !default;

// Sortable
$sortable-opacity:          0.9 !default;
$sortable-shadow:           0 1px 7px 0 rgba($color-gray-dark, 0.36), 0 1px 3px rgba($color-gray-dark, 0.16) !default;
$sortable-handle-min-width: 44px !default;
$sortable-handle-width:     24px !default;
$sortable-handle-spacing:   16px !default;
$sortable-shift-size:       16px !default;


// Tables
$table-color-base:          $text-color-base !default;
$table-heading-color:       $text-color-light !default;
$table-border-color:        $color-gray-lighter !default;
$table-cell-padding-base:   $padding-unit !default;
$table-cell-padding-sm:     ($padding-unit / 2) !default;
$table-font-size:           $font-size-base - 1 !default;


// Timeline
$timeline-line-color:       $color-gray-light !default;
$timeline-item-margin-bottom: $spacing-unit !default;
$timeline-group-padding-top:  $spacing-unit !default;
$timeline-date-color:       $text-color-light !default;
$timeline-dot-background:   $color-gray-lighter !default;


// Toasts
$toast-background-color:    $color-gray-base !default;
$toast-title-weight:        600 !default;


// Tooltips
$tooltip-background:        rgba($color-gray-dark, 0.8) !default;
$tooltip-font-size:         $font-size-sm !default;
$tooltip-padding:           8px 12px !default;
$tooltip-line-height:       $line-height-base !default;


// Wells
$well-background:           #f5f6f8 !default;
$well-radius:               $border-radius-base !default;
$well-padding-x-base:       24px !default;
$well-padding-y-base:       16px !default;
$well-padding-y-lg:         24px !default;
$well-border:               $border-base !default;
