// Color

$color-blue:                #3aaeda !default;
$color-blue-dark:           #257ab0 !default;
$color-green:               #67bd48 !default;
$color-red:                 #fb6b5b !default;
$color-yellow:              #ffac52 !default;
$color-purple:              #7b75cb !default;
$color-teal:                #4cc0c1 !default;

$color-primary:             $color-blue !default;
$color-success:             $color-green !default;
$color-danger:              $color-red !default;
$color-warning:             $color-yellow !default;

$color-gray-lighter:        #eef1f4 !default;
$color-gray-light:          #e4e7ea !default;
$color-gray-medium:         #8d99a0 !default;
$color-gray-base:           #455564 !default;
$color-gray-dark:           #25313E !default;

$color-neutral:             $color-gray-medium !default;

$background-color:          #f9fafb !default;

$text-color-light:          #8c989f !default;
$text-color-base:           #6b757b !default;
$text-color-dark:           $color-gray-base !default;
$text-color-muted:          #b3bfc9 !default;
$link-color-base:           $color-primary !default;


// Typography
$font-path:                 "../fonts" !default;
$font-family-base:          proxima-nova, "Open Sans", "Helvetica Neue", sans-serif !default;

$font-size-base:            14px !default;
$font-size-sm:              floor(($font-size-base * 0.875)) !default;
$font-size-lg:              ($font-size-base + 2) !default;

$line-height-base:          1.428571429 !default;
$line-height-computed:      floor(($font-size-base * $line-height-base)) !default;

$heading-color:             $color-gray-base !default;
$heading-weight:            600 !default;
$h1-size:                   24px !default;
$h2-size:                   21px !default;
$h3-size:                   18px !default;
$h4-size:                   16px !default;
$h5-size:                   15px !default;
$h6-size:                   14px !default;


// Spacing units
$unit-xs:                   6px !default;
$unit-sm:                   12px !default;
$unit-base:                 24px !default;
$spacing-unit:              32px !default;
$padding-unit:              16px !default;


// Grid system
$grid-columns:              12 !default;
$grid-gutter-width:         $spacing-unit !default;
$column-width-max:          1170px !default;


// Normalized media queries
$viewport-xs-min:           360px !default;
$viewport-sm-min:           480px !default;
$viewport-md-min:           736px !default;
$viewport-lg-min:           992px !default;
$viewport-xl-min:           1200px !default;

$viewport-xs-max:           ($viewport-sm-min - 1) !default;
$viewport-sm-max:           ($viewport-md-min - 1) !default;
$viewport-md-max:           ($viewport-lg-min - 1) !default;
$viewport-lg-max:           ($viewport-xl-min - 1) !default;


// Transitions
$timing-function:           cubic-bezier(.1,.5,.1,1) !default;


// Borders
$border-base:               1px solid $color-gray-light !default;
$border-lt:                 1px solid $color-gray-lighter !default;
$border-radius-base:        3px !default;
$faux-border-color:         #d8e1eb !default;;


// Z-index
$z-index-toast:             1060 !default;
$z-index-takeover:          1050 !default;
$z-index-drawer:            1030 !default;
$z-index-topbar:            1020 !default;
$z-index-dropdown:          1010 !default;
$z-index-sticky:            1000 !default;


// Shadow depth for shadow-depth mixin
$shadow-ambient:            0 1px 1px rgba(#000, 0.2) !default;
$shadow-ambient-nav:        0 9px 9px rgba(#000, 0.18), 0 6px 3px rgba(#000, 0.24) !default;
$shadow-key-light:          0 19px 19px rgba(#000, 0.3), 0 15px 6px rgba(#000, 0.22) !default;


// Topbar
$topbar-height-base:        70px !default;
$topbar-height-sm:          44px !default;
$topbar-height-standalone:  64px !default;
$topbar-background:         #fff !default;
$topbar-color:              $text-color-dark !default;
$topbar-link-color:         rgba($text-color-dark, 0.6) !default;
$topbar-link-color-focus:   rgba($text-color-dark, 1) !default;

$tabbar-height-base:        70px !default;
$tabbar-height-sm:          49px !default;

$drawer-background:         #fff !default;

$backdrop-background:       $color-gray-dark !default;
$backdrop-opacity:          0.6 !default;


// Buttons
$btn-padding-vertical:      7px !default;
$btn-padding-horizontal:    18px !default;
$btn-border-radius-base:    500px !default;

$btn-text-transform:        none !default;
$btn-text-color-base:       $text-color-base !default;
$btn-font-size-base:        $font-size-base !default;
$btn-font-weight:           400 !default;

$btn-line-height-base:      20px !default;
$btn-height-base:           36px !default;
$btn-height-sm:             30px !default;
$btn-height-lg:             50px !default;

$btn-default-background:    #fff !default;
$btn-primary-background:    $color-primary !default;
$btn-success-background:    $color-success !default;
$btn-danger-background:     $color-danger !default;
$btn-neutral-background:    $color-gray-medium !default;

$btn-focus-shadow:          inset 0 1px 2px rgba(0,0,0,0.08) !default;


// Avatars
$avatar-background-color:   transparent !default;
$avatar-radius:             50% !default;
$avatar-size-xs:            24px !default;
$avatar-size-sm:            36px !default;
$avatar-size-base:          48px !default;
$avatar-size-lg:            72px !default;
$avatar-size-xl:            96px !default;


// Badge & Chips
$badge-background-color:    $text-color-muted !default;
$badge-font-size:           $font-size-sm !default;
$badge-text-color:          #fff !default;

$chip-background-color:     $text-color-muted !default;
$chip-font-size:            $font-size-base - 1 !default;
$chip-text-color:           #fff !default;

$badge-color-primary:       $color-primary !default;
$badge-color-success:       $color-success !default;
$badge-color-warning:       $color-warning !default;
$badge-color-danger:        $color-danger !default;


// Thumbnails
$thumbnail-radius:          2px !default;
$thumbnail-size-xs:         24px !default;
$thumbnail-size-sm:         36px !default;
$thumbnail-size-base:       48px !default;
$thumbnail-size-lg:         72px !default;
$thumbnail-size-xl:         96px !default;


// Page header
$page-header-font-size:     24px !default;
$page-header-weight:        400 !default;


// Cards
$card-background-color:     #fff !default;
$card-shadow:               0 1px 1px 0 rgba($color-gray-dark, 0.24), 0 1px 2px rgba($color-gray-dark, 0.12) !default;
$card-radius:               2px !default;
$card-max-width:            550px !default;


// Dropdowns
$dropdown-background-color: #fff !default;
$dropdown-border-color:     rgba($color-gray-base, 0.12) !default;
$dropdown-width-min:        240px !default;
$dropdown-width-max:        300px !default;
$dropdown-box-shadow:       0 1px 1px 0 rgba($color-gray-dark, 0.06), 0 1px 2px rgba($color-gray-dark, 0.03) !default;

$dropdown-title-color:      $color-gray-dark !default;
$dropdown-title-font-size:  $font-size-lg !default;
$dropdown-title-line-height: 1 !default;

$dropdown-divider-color:    $color-gray-lighter !default;
$dropdown-item-font-size:   $font-size-base - 1 !default;
$dropdown-item-color:       $text-color-base !default;
$dropdown-item-hover-color: $text-color-dark !default;
$dropdown-item-hover-background: $color-gray-lighter !default;


// Filters
$filter-color:              $text-color-base !default;
$filter-focus-color:        $text-color-dark !default;


// Forms
$progress-color:            $color-green !default;
$progress-height:           8px !default;
$progress-radius:           2px !default;
$progress-width:            180px !default;


// Gallery
$gallery-selected-color:    $color-primary !default;
$gallery-item-background:   transparent !default;
$gallery-item-color:        #fff !default;
$gallery-item-font-size:    $font-size-sm !default;
$gallery-overlay-color:     rgba($color-gray-dark, 0.6) !default;

$gallery-item-height:       140px !default;


// Icons
$icon-size-base:            24px !default;
$icon-size-sm:              18px !default;
$icon-fill-color:           currentColor !default;


// Takeovers
$takeover-width-base:       550px !default;
$takeover-background:       #fff !default;
$takeover-radius:           2px !default;
$takeover-border-color:     rgba($color-gray-dark, 0.2) !default;

$takeover-backdrop-color:   $color-gray-dark !default;
$takeover-backdrop-opacity: 0.6 !default;


// Tables
$table-color-base:          $text-color-base !default;
$table-heading-color:       $text-color-light !default;
$table-border-color:        $color-gray-lighter !default;
$table-cell-padding-base:   $padding-unit !default;
$table-cell-padding-sm:     ($padding-unit / 2) !default;
$table-font-size:           $font-size-base - 1 !default;


// Toasts
$toast-background-color:    $color-gray-base !default;


// Tooltips
$tooltip-background:        rgba($color-gray-dark, 0.8) !default;;
$tooltip-font-size:         $font-size-sm !default;
