{{#>@toast}}
  {{#*inline 'toastSlot'}}
    {{render '@icon' icon merge=true}}
    {{#>@content content}}
      {{#*inline 'pushSlot'}}
        <div class="title">Low Battery</div>
        <div class="sub-title">Charge your device to keep using this app.</div>
      {{/inline}}
    {{/@content}}
  {{/inline}}
{{/@toast}}