<div class="content">
  <!--TODO: Need to figure out conditional header markup -->
  {{#if heading}}
  <header class="content_heading">
      {{#>headingSlot}}{{/headingSlot}}
  </header>
  {{/if}}

  {{#>mediaSlot}}{{/mediaSlot}}
  
  <div class="content_push{{#each push.modifier}} content_push--{{.}}{{/each}}{{#if pull}} content_pull@{{pull}}{{/if}}">
      {{#>pushSlot}}{{/pushSlot}}
  </div>

</div>