{{#>@content}}
  {{#*inline 'headingSlot'}}
    {{render '@thumbnail' thumbnail merge=true}}
    <div class="title">Sample title</div>
  {{/inline}}
  {{#*inline 'pushSlot'}}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit a dolorem ullam nulla quibusdam debitis recusandae esse saepe veritatis exercitationem dignissimos temporibus sint, corporis laboriosam itaque modi in doloremque id totam deserunt! Accusantium quo, libero repudiandae deserunt unde, vitae est modi quas deleniti quibusdam mollitia illum ab assumenda id a in at sint odit consequatur temporibus quis doloremque natus? Sint.</p>
  {{/inline}}
{{/@content}}