<div class="content">
  <!--TODO: Need to figure out conditional header markup -->
  {{#unless test}}
  <header class="content_heading">
      {{#>headingSlot}}{{test}}{{/headingSlot}}
  </header>
  {{/unless}}

  {{#>mediaSlot}}{{/mediaSlot}}
  
  <div class="content_push{{#each element.push.modifier}} content_push--{{.}}{{/each}}{{#if element.pull}} content_pull@{{element.pull}}{{/if}}">
      {{#>pushSlot}}{{/pushSlot}}
  </div>

</div>